[2015-10-30 21:47] mhenrixon opened #3 "Error attempting heartbeat call to plugin server: rpc: can't find method RpcServerDriver.Heartbeat"
Not sure why but docker-machine works for other drivers not parallels: https://github.com/docker/machine/issues/2123 is the error I get. It is only a warning but nothing happens. No feedback, no nothing just stops there.

[2015-10-30 22:06] legal90 commented on #3
Both of our plugin and Docker Machine v0.5.0 are in pre-release state yet, so issues are expected :)

@mhenrixon Please try v1.0.0-rc2 which I've just released: https://github.com/Parallels/docker-machine-parallels/releases/tag/v1.0.0-rc2
It is compatible with Docker Machine v0.5.0-rc4

[2015-10-30 23:36] mhenrixon commented on #3
Didn't say I was unaware just that it doesn't work :) How come parallels isn't a default? :(

[2015-10-30 23:38] mhenrixon commented on #3
Works like a charm!! Thanks :dancers:

[2015-10-30 23:46] legal90 commented on #3
Oh, that was a long story... https://github.com/docker/machine/pull/939#issuecomment-126818335

But anyway - in some of the the next Docker Machine releases the most of 3rd party drivers will be split into plugins with their own repositories.

Cool! So, I close this issue.

[2015-10-30 23:46] #3 closed

[2015-11-01 11:09] sumyuga opened #4 "mount another folder?"
Let me know if it's possible to mount not only /Users directory (outside of it). I was trying to change Share settings through Options in Parallels Desktop Control Center and no result at all.

[2015-11-01 19:18] legal90 commented on #4
@sumyuga It's not convenient, but it's possible.
I guess you did it right, but you also have to mount your custom share on the guest side. All the steps:

1) Add the custom share to the existing VM. It could be done via GUI (in VM settings), or via CLI:
[code]

2) Start your VM and login there:
[code]

3) Mount custom shared folder folder from the guest side:
[code]
Done! Let's ensure:
[code]

P.s

[2015-11-01 19:54] legal90 commented on #4
Unfortunately, you will have to mount it manually after each VM boot. You can try to automate it, using the single command:

[code]

[2015-11-03 11:09] sumyuga commented on #4
Thanks great for this detailed answer!

[2015-11-03 11:09] #4 closed

[2015-11-03 22:58] nathanleclaire opened #5 "Suggestion: Use NewDriver instead of new(parallels.Driver) in main.go"
FYI, new(parallels.Driver) will not "migrate" safely if you add new flags (since they will be zero-valued but not over-written), whereas `NewDriver` will.  It's why I changed the drivers in our repo to do so.  Does that make sense?

[2015-11-03 22:59] nathanleclaire commented on #5
Nice job being right on top of things btw :)

[2015-11-03 23:09] nunofgs opened #6 "Enable Parallels Desktop 10 support"
Would you be opposed to introducing support for Parallels Desktop 10 and lower (if possible)?

Is there any technical reason why this plugin is limited to Parallels 11?

[2015-11-03 23:24] legal90 commented on #5
@nathanleclaire Thank you for suggestion! I will do this.
Seems like I should also add `Boot2DockerURL` and `NoShare` to the `NewDriver` function
https://github.com/Parallels/docker-machine-parallels/blob/1be66d340ed3c7c98c33c3ce3cd69285fd9e56af/parallels.go#L56

[2015-11-04 00:22] nathanleclaire commented on #5
@legal90 Yeah, totally.  The constructor function is crucial to get those defaults populated on create as well.

[2015-11-04 10:27] #5 closed

[2015-11-04 20:02] dzwicker opened #7 "Error when creating new virtual machine"
I use the command `docker-machine create --driver=parallels prl-dev`. But it failed with:
[code]

parallels version is 11.0.2 pro edition

[2015-11-04 20:07] dzwicker commented on #7
here is the output if running with debug flag:

[code]

[2015-11-05 07:06] dzwicker commented on #7
Same as Parallels/docker-machine/issues/4?

[2015-11-05 07:19] dzwicker commented on #7
I have tried to use the workaround mentioned `--parallels-boot2docker-url https://github.com/boot2docker/boot2docker/releases/download/v1.8.2/boot2docker.iso` also tried boot2docker 1.9.0.

To be sure to have the newest iso in the local cache, i have run a `docker-machine upgrade` on an existing virtualbox vm.

But in all cases the error is the same.

[2015-11-05 07:20] legal90 commented on #7
@dzwicker No, in your case there is some error while creating a new virtual machine in Parallels Desktop.
Unfortunately, debug log doesn't provide a verbose output from our plugin (due to https://github.com/docker/machine/issues/2145).
Please execute the specified command in the terminal:
[code]
Is there any error message?

[2015-11-05 08:14] dzwicker commented on #7
[code]
I have all the 'Require Password to:' under the security preferences enabled. Turning off password for creating a vm fixed this error .

[2015-11-05 08:15] dzwicker commented on #7
See comment before

[2015-11-05 08:15] #7 closed

[2015-11-05 09:02] legal90 commented on #7
Yes, that's a little bit confusing message, but actually `prlctl` couldn't manage VMs unless security preferences are disabled

https://github.com/Parallels/docker-machine/issues/8
https://github.com/Parallels/vagrant-parallels/issues/67#issuecomment-32774326

[2015-11-06 12:12] ellomarc commented on #6
+1

[2015-11-06 13:15] ianbytchek opened #8 "Cool kids say homebrew"
So I've heard… :smile: can we have a formula for the plugin?

[2015-11-06 13:25] krasilich commented on #8
Hi Ian, could you please provide little bit more details on your issue, because it's not quite cleare how to help you)

[2015-11-06 13:29] Dahlgren commented on #8
It's available through homebrew already, https://github.com/Homebrew/homebrew/commit/112ccbdc6e1db1826328102980f253e8d2067112

[2015-11-06 13:41] ianbytchek commented on #8
@Dahlgren will work on my `brew search` skills. Thanks!

[2015-11-06 13:41] #8 closed

[2015-11-06 14:48] blueimp commented on #6
I've built a version with support for Parallels Desktop 10 here:
https://github.com/blueimp/docker-machine-parallels/releases/tag/v1.0.0%2Bparallels-10

Here's the pull request for the necessary changes:
https://github.com/Parallels/docker-machine-parallels/pull/10

[2015-11-07 03:11] korya commented on #6
+1. If there are some technical limitations, it would be great if I can just specify `-f` flag (or something else) and take the risks and run on "unsupported" version of PD.

[2015-11-08 13:18] mtneug opened #11 "Problem resolving Docker Hub domains"
I have trouble seaching/pulling images form Docker Hub. Most of the time (but not always) I get this message:

[code]
[code]

Because resolution was succeeding at times, I was able to pull an ubuntu image and install `dnsutils`. When resolving `index.docker.io` or `registry-1.docker.io` most of the time I got results similar to these:

[code]

[code]

The same output was produced form a statically

[2015-11-09 09:06] mtneug commented on #11
The DNS server can be changed automatically on reboot by adding these lines to `/var/lib/boot2docker/profile`:

[code]

This workaround fixes my problem. Still it would be better if the Parallels DNS server would give me correct responses. By the way, setting the `--dns` flag of the Docker Daemon does not work. It seams Docker is not using it for searching/pulling.

[2015-11-09 09:16] legal90 commented on #11
@mtneug Thanks for reporting this issue. I'd like to reproduce this issue prior to report it to our R&D.
Have you managed to find some reproduction scenario?
Do you have any idea - what actions may cause this issue? May be, it occurs after some other VM manipulations (start/stop/etc.)?

[2015-11-09 09:38] krasilich commented on #11
Let me share my thoughts on this.
I still see this issue from time to time, but now it is not occure on parallels only, but on virtualbox as well.
Another thing I noticed, that when it happens I have more than one machine running (no matter if them of the same driver or not) maybe it's somehow related.
For me it happens not to often (once on a couple of days) and lasts for a couple of hours, so I

[2015-11-10 09:18] ianbytchek opened #12 "Shared files are not synced correctly on host and guest"
I was having a nasty [issue](https://github.com/kitematic/kitematic/issues/605) with VirtualBox / Kitematic awhile ago, which resulted in files stopping syncing across host and vm. I've seen a few related issues in the past, but never found this exact one. On the left is the file I've just updated on host, on the right is the same file but inside boot2docker vm running on parallels driver.

![imag

[2015-11-10 09:18] mtneug commented on #11
@legal90 Actually there was an issue before, but I hope it is unrelated. I upgraded form Parallels 10 to Parallels 11 because of the Docker support. I wanted to start the boot2docker VM automatically. Parallels told me for that I need to activate the "Start Parallels Desktop as a service" setting. But after the required newstart, Parallels was not able to start anymore. At that point I completely

[2015-11-10 10:46] krasilich commented on #12
Hi Ian,
personally I switched from native shared folder implementation of Parallels/VirtualBox to nfs.
As for me nfs is little bit faster and reliable.
Just try this script https://github.com/adlogix/docker-machine-nfs it works with VirtualBox and Parallels

Further reading https://github.com/boot2docker/boot2docker/issues/581 you might find another approaches there

[2015-11-10 11:14] romankulikov commented on #12
Ian, do I understand correctly that "typical" situation is something like this:
0. `host $ sed 's/foo/bar/' file`
1. `vm $ grep bar file # not found`
Waiting 20 minutes...
2. `vm $ grep bar file # found`
?

[2015-11-10 12:21] ianbytchek commented on #12
@krasilich I've heard about it briefly before. Will give it a try, thanks!

[2015-11-10 12:31] ianbytchek commented on #12
@romankulikov no, in those cases everything normally works. I've only observed this with existing files. A typical scenario.

0. Create config, launch a container with that config mounted as a volume `/foo/bar.json:/foo/bar.json`.
0. Don't touch it for awhile, sometimes a few minutes, sometimes a few days.
0. Change the file, check it on guest – there it would normally appear unchanged.

Some inte

[2015-11-10 12:53] romankulikov commented on #12
@ianbytchek grasped. Thanks! Will try to reproduce.

[2015-11-10 12:56] ianbytchek commented on #12
@romankulikov let me know if I can be of help.

[2015-11-11 10:33] legal90 commented on #11
@mtneug @krasilich
Thank you for details! This issue was caught and fixed by Parallels team.
The fix will be released in the scope of the next update for Parallels Desktop 11, which is coming very soon. I will let you know about this.

[2015-11-11 17:03] legal90 commented on #6
Closed by #10
Released in [v1.0.1](https://github.com/Parallels/docker-machine-parallels/releases/tag/v1.0.1)

[2015-11-11 17:03] #6 closed

[2015-11-12 08:58] mtneug commented on #11
@legal90 :+1: Thank you for your help! I'm looking forward to the patch :shipit:.

Just to be clear that we are talking about the same bug: I analyzed the DNS packages Parallels is proxying to the VM. It seems Parallels is always making use of [DNS name compression](https://tools.ietf.org/html/rfc1035#section-4.1.4) even if the DNS server my host is using does not. I use [`dnsmasq`](http://www.the

[2015-11-13 11:04] legal90 commented on #11
Today the new update for Parallels Desktop 11 has been released: [11.1.0 (32202)](http://kb.parallels.com/en/123410)

And this issue should be fixed there. @mtneug, please verify.

[2015-11-13 14:35] mtneug commented on #11
I can confirm that it is working with the new release. Thanks for the quick patch!

[2015-11-13 14:35] #11 closed

[2015-11-14 22:09] ianbytchek opened #14 "Shared volume disappears after shut down"
For some reason, every time I shut down (by quitting parallels) the vm, the `/Users` volume disappears resulting in a whole bunch of issues when starting docker with mounted volumes. Is there a way to manually mount the volume before there's a better solution?

[2015-11-14 22:28] legal90 commented on #14
@ianbytchek Do you mean that you stop the VM and then you start it again via Parallels Desktop GUI, so after that Shared folders are not mounted?

[2015-11-14 22:42] ianbytchek commented on #14
@legal90 yep. I normally don't intentionally stop it, just quit parallels or restart the computer all together. It did happen a few times before, but I though that it's related to something else. Recreated the vm several times, and now it happened right after I quit parallels to free up memory and then started it again.

[2015-11-14 22:46] legal90 commented on #14
@ianbytchek You can shut down the VM via Parallels Desktop GUI (or by quitting it), but if you want to start it again, you should do it with docker-machine command:

[code]

This command not only starts the VM , but it also cares about VM IP address and shared folder mounting.

[2015-11-14 22:52] ianbytchek commented on #14
@legal90 phew, worked. Thanks! Was wondering lately. When I create new vm with parallels driver it always assigns a new ip, though all previous vms are removed. This is inconvenient since I have to reconfigure several dependencies to use the new ip. With virtual box we always used to get ip that didn't change. Is that possible? Didn't find any docker machine options for that.

[2015-11-14 22:55] legal90 commented on #14
Some details:
Parallels Desktop has internal mechanism for shared folder auto-mounting, but it mounts them to pre-defined path `/media/psf/<share_name>`.

For Docker purposes we don't need this path, because we want host's `/Users` to be mounted exactly to the guest's `/User`. That's why in our docker-machine driver we've disable Parallels built-in auto-mount feature, so we mount shares on the `St

[2015-11-14 23:00] ianbytchek commented on #14
@legal90 thanks, that's good to know. Closing this.

P.S. Would appreciate any feedback on ip subject.

[2015-11-14 23:00] #14 closed

[2015-11-14 23:16] legal90 commented on #14
Each new VM has an original MAC address, so internal DHCP server generates a unique IP for it. But normally this IP is not changing during the VM lifecycle (because MAC is unchanged).
In VirtualBox there is absolutely another situation, because its NAT address space is not shared between VMs.

There is only a dirty hack. If you re-create the VM by some reason, the only way to keep an old IP addres

[2015-11-15 06:15] ianbytchek commented on #14
It kind of worked. I needed this for a haproxy container to send traffic to a sibling container, which would require real-time reconfiguration or something like exposing ports and pointing to a higher level ip. But the machine name works just as good. But there's also a dnsmasq running on mac, and it seems it doesn't like all that. The docs say that domain name would be fine, but when I change con

[2015-11-16 12:49] hombit opened #15 "Docker machine cannot lookup docker.io"
Docker run and pull commands return host lookup error.

Output of `docker run ubuntu`:
[code]

Output of `docker-machine env dockermachine`:
[code]

OS X 10.11.1, Parallels Pro 11.0.2, Docker 1.9.0, docker-machine-parallels 1.0.1.

[2015-11-16 13:16] legal90 commented on #15
Duplicates #11
Please, update Parallels Desktop to [11.1.0 (32202)](http://kb.parallels.com/en/123410)

[2015-11-16 13:16] #15 closed

[2015-11-16 14:16] hombit commented on #15
I still have the bug after upgrade to 11.1.0 (32202) and `docker-machine upgrade dockermachine`.

[2015-11-16 17:22] hombit commented on #15
Everything works after restart of VM. Thank you

[2015-11-17 13:31] romankulikov commented on #12
@ianbytchek I'm still trying to reproduce the issue but no luck, everything works for now.  I have a couple of questions:
0. what versions of products do you using (I mean Parallels Desktop, boot2docker, docker-machine)?
1. how do you edit file on the host side?

[2015-11-17 13:49] ianbytchek commented on #12
All the latest as of now, pretty much always the latest. Just open up the file with sublime, occasionally with atom, edit and save. Noting unusual.

Apparently one thing that I was doing wrong all that time was starting the vm directly through Parallels / VirtualBox, oppose to starting it with docker machine command. @legal90 pointed out recently that there are extra steps, which I guess might hav

[2015-11-17 14:09] romankulikov commented on #12
Frankly speaking I don't think issue is caused by VM startup way. My current hypothesis is that text editor changes inode of file being edited. That's why you don't get recent update of file's contents in container. I've tried both Sublime and Atom: they seem not relinking edited file. But this may not be true for some cases I'm not aware of.

It would be great you trace file inode number before a

[2015-11-19 17:13] boucher opened #16 "docker create fails with "--time-sync off failed""
Trying to spin up a new vm with docker-machine is failing with this (debug) output:

[code]

[2015-11-19 17:24] legal90 commented on #16
@boucher Please show the output of these two commands:
[code]

[2015-11-19 17:29] boucher commented on #16
› prlctl set kubetest --time-sync off
Unrecognized option: --time-sync

I'm guessing I need to update parallels.

[2015-11-19 17:32] legal90 commented on #16
Yes, that's why I've asked about version. `--times-sync` is available in Parallels Desktop >= 10.1.2
At this moment the latest version of PD 10 is 10.3.0

http://kb.parallels.com/111603

[2015-11-19 17:32] #16 closed

[2015-11-19 17:32] boucher commented on #16
I'm updating now and will retry.

[2015-11-19 17:41] boucher commented on #16
Thanks, it's working now.

[2015-11-20 02:53] qqalexqq opened #17 "Parallels docker-machine not working with custom $MACHINE_STORAGE_PATH"
When I have $MACHINE_STORAGE_PATH=.machine , e.g. use folder .machine inside current directory, Parallels docker-machine fails to start with an error: `Error creating machine: Error in driver during machine creation: prlctl create prl-dev --distribution boot2docker --dst .machine/machines/prl-dev --no-hdd failed: exit status 1`. The same setting works, for example, with DigitalOcean driver.

[2015-11-20 07:25] legal90 opened #18 "Driver is incompatible with Docker Machine v0.5.1"
In the scope of Docker Machine v0.5.1 release, there were some backward & forward incompatible stuff merged. So, "parallels" driver v1.0.1 could not be used with Docker Machine 0.5.1+
[code]

Docker Machine issue: https://github.com/docker/machine/issues/2325

### Current status for Parallels driver v1.0.*
* It works fine with: Docker Machine [v0.5.0](https://github.com/docker/machine/releases/tag

[2015-11-20 14:42] legal90 commented on #17
@qqalexqq Thank you for pointing on this!
Fixed in these releases:
[v1.0.2](https://github.com/Parallels/docker-machine-parallels/releases/tag/v1.0.2) - **only** for Docker Machine 0.5.0
[v1.1.0](https://github.com/Parallels/docker-machine-parallels/releases/tag/v1.1.0) - for Docker Machine 0.5.1+

[2015-11-20 14:42] #17 closed

[2015-11-20 14:54] legal90 commented on #18
Unfortunately, there is nothing to fix on our side. I've published two new releases today:
- [v1.0.2](https://github.com/Parallels/docker-machine-parallels/releases/tag/v1.0.2) - **only** for Docker Machine 0.5.0.
- [v1.1.0](https://github.com/Parallels/docker-machine-parallels/releases/tag/v1.1.0) - for Docker Machine 0.5.1+

Next releases will be based on v1.1.0, so we will not support Machine 0

[2015-11-20 14:54] #18 closed

[2015-11-20 15:18] kad commented on #18
:) yeah, I'm subscribed to issues and noticed that.
If you don't like to update homebrew formula for your project yourself, I'll update once new releases are done.

[2015-11-21 11:12] appelgriebsch opened #20 "volumes doesn't work"
I created a docker machine using the parallels driver here and though it allows me to connect to the docker host on the VM from my Mac machine, it doesn't mount the directories I specify on the docker run command as volumes from the Mac to the VM correctly (they are just empty within my running container)...

e.g.
[code]
ls -al /data
would return an empty folder...

[2015-11-21 11:59] kad commented on #18
Homebrew updated: Homebrew/homebrew#46227

[2015-11-21 12:09] legal90 commented on #20
Please, check that shared folder is mounted in the virtual machine and files are available:
$ docker-machine ssh <your_vm_name> -- ls $HOME/Documents/test-docker-machine

- If you see the list of your files, then the problem is not related to docker-machine (but to docker itself, may be).

- If you see `No such file or directory` error, then shared folder is not mounted. In this case, please ensur

[2015-11-21 12:32] appelgriebsch commented on #20
Thanks for immediate reply. docker-machine start does the trick.

[2015-11-21 12:32] #20 closed

[2015-11-21 12:36] legal90 commented on #20
Ok, good. I'm sorry for that inconvenience.

Seems like we have to add some `prl_fs` auto-mount script to the Boot2Docker distribution.

[2015-11-25 18:59] MikeVL opened #22 "Error loading driver "parallels": rpc: can't find service RpcServerDriver.GetVersion"
I can`t create docker vm
➜  ~  docker-machine create --driver=parallels local
WARNING >>> Error attempting heartbeat call to plugin server: rpc: can't find service RpcServerDriver.Heartbeat
Error loading driver "parallels": rpc: can't find service RpcServerDriver.GetVersion

[2015-11-25 19:04] legal90 commented on #22
It is related to https://github.com/Parallels/docker-machine-parallels/issues/18#issuecomment-158422988

@MikeVL Please, update Docker Machine to v0.5.1. It could be done by installing the latest Docker Toolbox: https://www.docker.com/docker-toolbox

[2015-11-25 19:04] #22 closed

[2015-11-26 09:20] MikeVL opened #23 "Add wildcard hostname to /etc/hosts"
Is it possibly to add `*.docker-machine-name.shared` to `/etc/hosts`?

[2015-11-26 09:49] kad commented on #23
wildcards are not allowed in /etc/hosts. neither on MacOS X nor on Linux.

[2015-11-26 10:32] romankulikov commented on #12
@ianbytchek any news on the issue?

[2015-11-26 10:39] legal90 commented on #23
@kad is right. It is not possible in `/etc/hosts`, but could be managed by "dnsmask"
http://serverfault.com/questions/118378/in-my-etc-hosts-file-on-linux-osx-how-do-i-do-a-wildcard-subdomain

[2015-11-26 10:39] #23 closed

[2015-11-26 10:48] ianbytchek commented on #12
Apologies, v. busy with something else. I come across the issue every once in a while, waiting for that to happen and definitely not forgetting about reporting it :grimacing:

[2015-11-30 19:08] leedm777 opened #24 "Cannot lookup registry-1.docker.io... again"
I see that this issue has been filed several times, and is closed as fixed in Parallels 11.1.0. Unfortunately, I recently updated to 11.1.0, and I am still seeing the problem.

Parallels version: 11.1.0 (32202)
docker version: 1.9.1
docker-machine version: 1.5.1
docker-machine-parallels version: 1.1.0

[code]

I tried the debugging steps mentioned in [#11](https://github.com/Parallels/docker-machi

[2015-11-30 19:25] legal90 commented on #24
Have you tried to reload your VM (`docker-machine restart <vm_name>`)?

[2015-11-30 19:26] leedm777 commented on #24
@legal90 Yes, and I've restarted my Mac, to no effect.

[2015-11-30 20:35] rbenedum commented on #24
@leedm777 - I got around this by adding 8.8.8.8 and 8.8.4.4 to my network dns settings

[2015-11-30 20:46] leedm777 commented on #24
@rbenedum Strangely, it keeps undoing it, so I'm constantly having to go back in and edit `/etc/resolv.conf`.

[2015-12-02 12:19] janklan opened #25 "Parallels driver not syncing folder"
I saw similar issue being already pasted, but saw no workaround or a solution, so I'd like to bring this to light again.

I am trying to docker-compose a set of images using Parallels on OS X 10.11.1 using this http://pastebin.com/dc3mNYY5. Resulting set of docker containers should be used as a symfony app server base with the whole app located in ./application directory relative to the docker-com

[2015-12-02 16:01] dskr99 commented on #24
Hi, I'm a networking developer in parallels, could you please help us to investigate the problem. I've sent an email to you (on yahoo.com mail) with instructions.

[2015-12-04 08:38] legal90 commented on #25
1) How have you started your VM - with `docker-machine` command, or with Parallels Desktop GUI? (I'm asking this because of https://github.com/Parallels/docker-machine-parallels/issues/14#issuecomment-156752549)

2) Check - whether your application files are shared with the VM or not. Just execute this command staying in your project root (where `docker-compose.yml` is located) : `docker-machine s

[2015-12-04 11:35] janklan commented on #25
Hi,

1) docker-machine
2) Can't do, sorry -- I already bought WMWare desktop and am using docker with it. Parallels is no longer working on my computer

[2015-12-04 14:20] leedm777 commented on #24
Well, now I can't reproduce it. I shall happily continue using docker machine on parallels, and if it happens again, I'll reopen and send the debugging info request.

Thanks!

[2015-12-04 14:20] #24 closed

[2015-12-10 03:41] bassamtabbara opened #26 "support for time-sync"
it doesn't look like docker-machines are created with time-sync enabled. Unfortunately without this the clock skew interferes with normal operations (especially HTTP/S calls). Any chance this can be fixed soon. FWIW enabling it manually fixes the problem.

[2015-12-10 07:14] legal90 commented on #26
But there is `ntpd` enabled by default in Boot2Docker: https://github.com/boot2docker/boot2docker/blob/eaa536df0f2fac6487dd9c27667111109cb261e3/rootfs/rootfs/etc/rc.d/ntpd
Doesn't it work for you? (check `/var/lib/boot2docker/log/ntpd.log` in the VM)

[2015-12-10 15:21] jahead opened #27 "No option to create container in a bridged network"
So I've had trouble with trying to follow this guide.
http://docs.docker.com/engine/userguide/networking/get-started-overlay/

Most of the commands works, but falls over when creating the swarm hosts. Basically the port 3376 is closed due the container being created using a shared interface.

The docker-machine gets to last stage then reports

[code]

looking further into it, when using `eval $(do

[2015-12-10 18:34] bassamtabbara commented on #26
ntpd is notorious for drifting on VM especially after a long period of sleep/resume

[2015-12-11 12:49] legal90 commented on #26
@romankulikov What do you think - is it reasonable to enable `--time-sync on --disable-timezone-sync on` in parallel with `ntpd` running in the VM?

[2015-12-11 14:22] skyksandr opened #28 "Issues with mongo with mounted volume for data"
I've created container with MongoDB.
Dockerfile:
[code]

docker-compose.yml
[code]

I have two problems with it:
1. If I put in docker-compose.yml OS X folder
[code]
Container do not start with error:
`Assertion: 13651:Couldn't fsync directory '/var/lib/mongodb': errno:22 Invalid argument`

2. If I put in docker-compose.yml folder from my docker-machine VM
[code]
Container starts but do not finish

[2015-12-12 11:39] remm commented on #22
I've the same issue:
Parallels Desktop Version 11.1.1 (32312)

➜  ~  docker-machine -v
docker-machine version **0.5.2** ( 0456b9f )

➜  ~  docker-machine create --driver=parallels prl-dev
WARNING >>> Error attempting heartbeat call to plugin server: rpc: can't find service RPCServerDriver.Heartbeat
Error loading driver "parallels": rpc: can't find service RPCServerDriver.GetVersion

[2015-12-12 20:00] legal90 commented on #22
@remm In your case there is a reversed issue. You use the latest Docker Machine, but the outdated plugin version. Please, update the driver plugin:

[code]

[2015-12-12 20:09] remm commented on #22
Yes it works. Thanks.

[2015-12-13 09:35] legal90 commented on #28
I should to clarify some important details about Docker volumes and shared folders:
- While using Docker Machine, it is assumed that the "Docker Host"  is a VM, _not_ a Mac host. It means that when we run `docker` (or `docker-compose`) on Mac, all volume paths are located on the VM. In your example, `/data/db` (on the left side of the colon) is the VM's path which will be mapped to the container.

[2015-12-13 09:35] legal90 commented on #28
Let's abstract away from the Compose use case, I found the easier way how to reproduce the subject issue. And yes, seems like Parallels Shared Folders could not be used for Mongo DB storage at this moment:
[code]
Seems like our `psf` filesystem returns "Operation not permitted" for [`wiredtiger_open`](https://source.wiredtiger.com/2.4.1/group__wt.html#ga9e6adae3fc6964ef837a62795c7840ed) call.  @ro

[2015-12-14 01:39] posita opened #29 "Feature request: support NFS as alternative means to mount /Users"
There are host of permissions-related issues with both Docker in general as well as using it with OS X host volumes in particular (e.g., via Boot2Docker). Here is a decent summary:

* docker/docker#7198
* boot2docker/boot2docker#581
* boot2docker/boot2docker#587
* boot2docker/boot2docker#1101

Most of these issue can be worked around by careful use of NFS with the `mapall` option (see, e.g., this

[2015-12-15 07:57] MikeVL opened #30 "Problem with files"
I create docker vm with overlay storage driver.

Very often, when installing programs via pip install inside vm, I get errors with inaccessible files.

[code]
List of temporary folder:
[code]

[2015-12-15 10:56] legal90 commented on #29
This is a good idea, but I don't think that it should be implemented on the Parallels driver's side.
NFS support should be implemented  in both of Boot2Docker and Docker Machine itself, but not in a driver because it is not related to the virtualization system directly.

The good example is Vagrant and how NFS support is implemented there. Following this way, Docker Machine should manage NFS expor

[2015-12-15 10:56] #29 closed

[2015-12-16 14:02] legal90 commented on #30
@MikeVL Could you please provide a reproduction instructions?

[2015-12-17 13:28] legal90 commented on #27
@jahead Seems like you've made a mistake. The port of Docker daemon is 2376, not 3376.

And also, while creating the Swarm hosts via `parallels` driver, you should advertise the port on interface `eth0` instead of `eth1`, for example:
[code]

Considering these notes, I've managed to create Swarm cluster from the "Get started guide" (https://docs.docker.com/engine/userguide/networking/get-started-o

[2015-12-17 13:28] #27 closed

[2015-12-22 11:06] alexw23 commented on #26
:+1:

[2015-12-25 10:53] satblip commented on #11
I'm on `11.1.1 (32312)` and I still have the issue.

My nameserver always reset to a 10.xx ip and the system is unable to resolve.

[2015-12-25 13:20] legal90 commented on #11
@satblip What boot2docker version is in your VM? (`docker-machine ssh dev -- docker version`)
If it's less that 1.9.1, please upgrade it (`docker-machine upgrade dev`) and then try to reproduce the issue again.

[2015-12-25 13:24] satblip commented on #11
I've the latest version and already have recreated my VM from scratch

[code]

[2015-12-28 12:26] dskr99 commented on #11
Hi,
I've sent you an email a couple of days ago (to the address in your profile); most likely it was filtered somewhere. We'd appreciate if you could collect the next information:

1) Turn on detailed logging in Parallels (Parallels Desktop -> Preferences -> Advanced -> select "Use detailed log messages"
2) in guest start the command "sudo tcpdump -i eth0 -s 65535 -w dump.pcap"
3) reproduce the pr

[2015-12-28 16:11] romankulikov commented on #28
@legal90, I do think this is the same problem. prl_fs supports mmap-ed files, but with significant restrictions. For example, opening mmap-ed files for read-write is prohibited. Seems we should consider this to be improved from our side.

[2015-12-28 16:21] romankulikov commented on #26
@legal90, from my point it is not a good choice to enable both `--time-sync on` and NTP in guest. Clock will go forward and backward constantly. I suggest to use only one of them.

[2015-12-28 17:22] legal90 commented on #12
OK, I close it. Please, let us know if you will run into this issue again.

[2015-12-28 17:22] #12 closed

[2015-12-28 18:52] legal90 opened #32 "Driver does not work with docker-machine 0.5.5"
Reported by @leedm777
Moved from https://github.com/Parallels/docker-machine/issues/10

[code]

[2015-12-28 19:25] legal90 commented on #32
It is caused by https://github.com/docker/machine/pull/2636
We should to rebuild the plugin with `libmachine` v0.5.5 and release a new version

[2015-12-29 09:21] satblip commented on #11
Hi @dskr99,

thanks for the following, I had seen your email, but with the holidays period, I'm less on my computer and more with my family ;)

Actually, I don't have the issue anymore, so I'm looking to the why I had it. Multiple options there.

- VM paused due to low battery
- Internet location change
- Mis-usage somehow

But, as far as I know, all these 3 options should have been fixed by the d

[2015-12-29 09:36] #32 closed

[2015-12-29 11:37] dskr99 commented on #11
:) In my country we still have Christmas at 7 january.

About reason of the issue it is hard to say.. since I work with networking, I tend to look at this kind of problems first. But of course it could be any of it. I'd appreciate if you could collect the information if this ever reproduces again.

[2015-12-29 17:42] tomcatzh opened #36 "Some errors with docker-machine 5.5"
can not run such as ls rm even create

this is the create log:

ZHANGXIAOFENGdeMacBook:.docker zhangxiaofeng$ docker-machine --debug create --driver=parallels --parallels-disk-size=65536 --parallels-memory=4096 --parallels-cpu-count=-1 prl-new
Docker Machine Version:  0.5.5, build
Found binary path at /usr/local/bin/docker-machine-driver-parallels
Launching plugin server for driver parallels
Plugi

[2015-12-29 17:46] legal90 commented on #36
Duplicates #32
Fixed by #33. The new version will be released in a few hours

[2015-12-29 17:46] #36 closed

[2015-12-29 19:51] legal90 commented on #32
Fixed in [v1.1.1](https://github.com/Parallels/docker-machine-parallels/releases/tag/v1.1.1)

[2015-12-30 18:21] ianbytchek commented on #12
Didn't have a chance to work closely on this in the past month, will come back with details when see this again. I see there's a bunch of issues that sound pretty similar.

[2016-01-04 09:15] legal90 commented on #25
[code]
At this moment it works only if `./application` is located in `/Users` or any of its child directories (details: https://github.com/Parallels/docker-machine-parallels/issues/28#issuecomment-164242175).

That's sad. Then I close this issue, but I would appreciate anyone who will help to reproduce this issue.

[2016-01-04 09:15] #25 closed

[2016-01-08 21:50] chuckbutler opened #37 "docker-machine is unable to interact with VM's created on an exFAT volume"
I am running out of space on my primary drive, so I thought I would grab a [Transcend micro expansion](http://www.amazon.com/Transcend-JetDrive-Storage-Expansion-TS64GJDL330/dp/B00K73NSXQ) and place my VM's on the external drive to free up quite a bit of space. This works well with vagrant and the default parallels desktop, however this doesn't play nicely at all with docker-machine. I am unable t

[2016-01-08 23:04] chuckbutler commented on #37
Continuing the saga, I found a viable work-around by allocating the docker-machine vm's on the primary HDD first.  Then migrated, symlinked, and was able to interface with the parallels vm's as intended. Not ideal as I'll have to unlink, create, migrate, relink anytime I want to add another - but this does seem to resolve the issue in a hacky fashion.

[code]

the issue appears to only be during c

[2016-01-09 05:02] dschinkel opened #38 "delete"
delete this please

[2016-01-09 09:00] rickard-von-essen commented on #37
@legal90 Maybe we need to add some docs about this?

[2016-01-12 20:53] ChrisMacNaughton commented on #37
it does the same thing in vmwarefusion driver.

```(default) Copying /Users/icey/.docker/machine/cache/boot2docker.iso to /Users/icey/.docker/machine/machines/default/boot2docker.iso...```

[2016-01-13 05:47] #38 closed

[2016-01-13 08:26] ducdebreme commented on #29
subscribing

[2016-01-13 13:36] legal90 commented on #37
Sorry, but I can't reproduce this issue.
@chuckbutler Please, tell what directory have you moved and symlinked to your external drive before running into the issue?
Is it reproducible if you create a symlink refering to the same drive (volume)? For example:

[code]

[2016-01-14 16:05] chuckbutler commented on #37
I've moved the 'machine' directory and symlinked it

`lrwxr-xr-x   1 lazy  staff    26 Jan  8 16:38 machine -> /Volumes/Transcend/machine`

I encounter the same behavior of being unable to docker-machine ssh into the launched VM  only if its symlinked on external volumes.

[2016-01-19 21:40] legal90 commented on #37
@chuckbutler Please check the filesystem of that your external drive: is it HFS+ (aka "OS X Extended"), or exFAT?
It can see it using "Disk Utility" or by the command `mount | grep Volumes`:

[code]

[2016-01-19 22:25] chuckbutler commented on #37
[code]
Looks like its exFAT.

[2016-01-20 00:56] chuckbutler commented on #37
Results are in. Reformatting the card to HFS+ was a step in the process.

Creating a new docker-machine vm works, network functions work, everything at a minimal glance appears to be perfectly in order.

Copying the exFAT created vm continued to have the problem. docker-machine rm that-machine and the problem is solved. Thanks for the excellent suggestion @legal90  :beers:

[2016-01-20 07:59] legal90 commented on #37
@chuckbutler You're welcome :) I've also reproduced this issue on exFAT.

The root cause is file permissions:  http://superuser.com/questions/468291/chmoding-file-on-exfat
All files and directories on exFAT drives appear to be 777 permissions, including the private key `/Volumes/Transcend/machine/machines/<machine_name>/id_rsa`.
So, ssh client consider this private key is unsecure and it can't be

[2016-01-20 07:59] #37 closed

[2016-01-26 15:22] mrwilby commented on #25
I think I am seeing this problem. Created the docker machine VM using:

	docker-machine create --driver=parallels \
	    --engine-insecure-registry <...> \
	    --parallels-cpu-count=2 \
	    --parallels-memory 8096 \
	    --parallels-no-share \
	    --parallels-boot2docker-url="https://github.com/boot2docker/boot2docker/releases/download/v1.9.1/boot2docker.iso" \
	    default

Tried with/without

[2016-01-26 15:42] legal90 commented on #25
@mrwilby If you set `--parallels-no-share`, then nothing will be shared with the VM, at least via Parallels Shared Folders mechanism. So, you shouldn't set it if you want to share your host's `/Users` or subdirs with the VM and then with the Docker container.

The content could be observed from the VM, but it is empty if you look at it from the container, right?
I can try to investigate this probl

[2016-01-26 15:48] mrwilby commented on #25
@legal90 - hello & thanks. Yes, I noticed the --no-share behavior was identical with vmware so figured as much - you just beat me to posting :) So you can ignore this I think. I think this is a case of stupid user error.

Whilst I am here, do you know if parallels is capable of propagating file system notifications to the container? As far as I can tell this is not working but not sure if that is

[2016-01-26 15:59] legal90 commented on #25
@mrwilby I don't know details about that, but you will notice that shared filesystem (`prl_fs` in Linux VM) doesn't work with Docker containers, please file a new issue here.

P.s.
We already have one issue with MongoDB use case (caused by mmap implementation): https://github.com/Parallels/docker-machine-parallels/issues/28#issuecomment-164242178

[2016-01-26 18:40] BenGale opened #39 "Outdated KB Article"
Hey,

Whatever you fixed in 1.1.1 has just tripped me up when following this: http://kb.parallels.com/en/123356.
You might want to update the curl command.

Thanks!

[2016-01-27 08:45] legal90 commented on #39
Hi @BenGale
Thank you for pointing on this. :+1:
We've edited this KB article, so now it is up-to-date.

[2016-01-27 08:45] #39 closed

[2016-02-10 01:18] ryansch opened #40 "Feature: Automate tools install"
I'm using docker-machine alongside RancherOS instead of boot2docker and everything works great except I'm missing the guest tools.  I would expect this plugin to automate that install.

[2016-02-10 03:37] ryansch commented on #40
I understand that each distro is going to be particular.  I'd be happy with a way to specify my own provisioner.

[2016-02-10 06:49] rickard-von-essen commented on #40
This it would be interesting to have a install script that try to install prl tools on different OS'es. There is only a few that are interesting, RancherOS, CoreOS, RHEL/CentOS/Fedora Atomic host, etc.

Do you just do:
[code]

[2016-02-10 15:41] ryansch commented on #40
Here's the script I'm using to start VMs:

[code]

I have to precache the iso or docker-machine will download it every time.

For RancherOS I'm looking to do this through a docker container as the default console isn't persistent.

[2016-02-11 01:26] ryansch commented on #40
So I started hacking on this project but then I realized I could do it all through docker.  Here is the result:

https://github.com/outstand/docker-parallels-tools

I have this working as a system service (in user docker) in RancherOS v0.4.3-rc3 under Parallels Desktop for Mac 11.1.2-32408.

[2016-02-17 16:40] sheerun opened #41 "Support "bridged" network mode"
Hey

This driver for now uses `/Library/Preferences/Parallels/parallels_dhcp_leases` that shows ip assigned by parallels' dhcp. I changed network mode of contained to "bridge" so my containers are exposed in local network, but `docker-machine ip` still shows old ip address from `parallels_dhcp_leases`.

Could you implement support for bridged mode, please?

[2016-02-23 13:12] mfcollins3 opened #42 ""unexpected EOF" error when trying to create machine"
I upgraded to the latest versions of docker-machine and Parallels Desktop Pro. I also made sure that I have the latest version of the Parallels plugin using Homebrew. When I try to create a machine, it fails with an "unexpected EOF" error. The debug log is below.

Any ideas what I can try to fix this?

Docker Machine Version:  0.6.0, build e27fb87
Found binary path at /usr/local/bin/docker-machine

[2016-02-25 23:41] mfcollins3 commented on #42
Building from source seemed to help. I was having problems with the version that I installed using Homebrew.

[2016-02-25 23:41] #42 closed

[2016-02-26 15:21] legal90 commented on #41
Hi @sheerun
Thank you for request! Like in Vagrant provider, here in Machine driver we use "Shared" network configuration by default, because it works for everybody and it doesn't depend on any external conditions.
However, "bridged" mode depends on the configuration of a network, which the host machine is currently connected to. There could be a static IP in some specific subnet or an auto-config

[2016-03-09 18:41] xbtsw opened #43 "docker-machine 0.6.0 incompability"
When used with docker-machine 0.6.0, will get a "unexpected EOF" error from driver.

[code]

[2016-03-09 20:03] legal90 commented on #43
Looks similar to #42
I couldn't catch it yet, but seems like we have to rebuild the plugin with libmachine v0.6.0.

@xbtsw How have you installed our plugin: via `brew` or by downloading a binary from github? Also please, try to reproduce the issue with both of these ways - does the error exist?
https://github.com/Parallels/docker-machine-parallels#installation

[2016-03-09 20:50] xbtsw commented on #43
Yes indeed I used the homebrew one. I will try to build from source and report back.

[2016-03-09 21:03] legal90 commented on #43
Thanks! Please, try this one too:
https://github.com/Parallels/docker-machine-parallels/releases/download/v1.1.1/docker-machine-driver-parallels

[2016-03-09 22:20] kad commented on #43
Out of curiosity, @xbtsw  which versions of other docker components you have installed from homebrew ?

I have
[code]
and I'm able to create new virtual machines without errors.

[2016-03-16 17:06] giulianolatini commented on #24
Hi, I've install driver on Parallel 11 for Mac Pro (V. 11.1.3 (32521)) and docker-machine version 0.6.0, build e27fb87. Same problem, same trick to resolve ...but I can't image why. I try to change DNS servers on WiFi configuration and docker don't fire resolve auth.docker.io. Only when I add to /etc/resolv.conf: nameserver 8.8.8.8 docker and docker-compose do work.

[2016-03-16 17:15] giulianolatini opened #44 "auth.docker.io: no such host."
I see that issue like this has been filed several times, and is closed as fixed in Parallels 11.1.0. Unfortunately, I recently install docker-toolbox and parallel driver to Parallel 11.1.3, and I am still seeing the problem.

OSX: 10.11.3
Parallels version: 11.1.3 (32521)
docker-machine version 0.6.0, build e27fb87
Docker version 1.10.3, build 20f81dd
docker-compose version 1.6.2, build 4d72027

w

[2016-03-16 18:58] legal90 commented on #44
@dskr99 Could you please assist with this issue?

[2016-03-17 12:45] netproteus commented on #44
I'm also seeing this issue, same versions of everything as @giulianolatini

[2016-03-17 16:30] Shumkov commented on #44
:+1:

[2016-03-18 11:41] dskr99 commented on #44
Hi,

I'd appreciate if you could send me by email (should be specified in my profile) the following:

1) Turn on detailed logging in Parallels (Parallels Desktop -> Preferences -> Advanced -> select "Use detailed log messages"
2) in guest start the command "sudo tcpdump -i eth0 -s 65535 -w dump.pcap"
3) reproduce the problem and stop the tcpdump
4) send a problem report (Parallels Desktop -> Help

[2016-03-18 12:17] jseider commented on #44
I'm also seeing this issue, but only at work.
At home I see no errors.

[2016-03-18 13:35] giulianolatini commented on #44
Ok, now isn't impossibile,  i'm out at a Codemotion Italy Conference.
Tomorrow with calm at home replicate the trouble and send the file :).
Thank's for answare band your time.
    Giuliano
Il 18/mar/2016 12:41, "Dmitry Skorodumov" <notifications@github.com> ha
scritto:

[2016-03-21 17:03] ctaggart opened #45 "can't create hard link in a volume"
This is the version installed:

[code]
## Steps to Reproduce

[code]
## Ouptut using Parallels driver

[code]
## Output using VirtualBox or Google drivers

[code]

For now, I'll switch to VirtualBox, but I'd like to be able to use my Parallels for this. I found this while troubleshooting a `File.Move` from the new .NET Core. https://github.com/dotnet/corefx/issues/7091

[2016-03-21 20:21] romankulikov commented on #45
Hard links creation is not supported in Parallels Shared Folders at the moment :-(

[2016-03-21 23:39] ctaggart commented on #45
It is not working for VirtualBox either. It is only working with volumes on Travis CI and Google.

[2016-03-30 09:10] legal90 commented on #26
@bassamtabbara @alexw23 Can you guys confirm that you don't have any time sync issues after enabling this feature manually for a long time?

I think about enabling it by default, like in `virtualbox` driver, because this is the only way to fix a time shift after the VM resume.

[2016-03-30 10:10] legal90 commented on #43
@xbtsw Do you have any updates on this? Does our pre-compiled binary work fine for you?
https://github.com/Parallels/docker-machine-parallels/releases/download/v1.1.1/docker-machine-driver-parallels

[2016-03-30 12:37] legal90 commented on #30
@MikeVL Is this issue still actual for you? It would be great to get some additional information which could help me to reproduce the issue.

[2016-03-30 12:52] MikeVL commented on #30
I build docker container with
[code]
And, then, on running container i update some packages from requirements.txt i get this error.

[2016-03-30 18:12] legal90 commented on #30
@MikeVL I'm sorry, that's not enough for me to reproduce the issue. It would be good if you can describe how to run into this issue from the scratch.

I've tried to create a sample Django project with Docker Compose using this tutorial: https://docs.docker.com/compose/django/
Everything works fine for me. Could you tell which steps (exact commands) should be done after that to reproduce your issue

[2016-03-31 06:13] MikeVL commented on #30
My Dockerfile example
[code]
and requirements.txt
[code]
Build container and run:
[code]
Second run of pip install is ok
[code]

[2016-03-31 12:17] legal90 commented on #30
@MikeVL Ah, thank you! Now it makes sense. It is reproducible only with "overlay" storage driver.

Seems like this is an issue of `overlayfs`. Please refer to https://github.com/docker/docker/issues/12327
There are some workarounds provided.

This issue is not related to the `parallels` driver for Docker Machine, so I close it.

[2016-03-31 12:17] #30 closed

[2016-03-31 14:46] legal90 commented on #42
@mfcollins3  That should be fixed in the latest version of brew formula (docker-machine-parallels 1.1.1_2), by https://github.com/Homebrew/homebrew/pull/50051
Could you please verify it?
[code]

[2016-03-31 14:57] mfcollins3 commented on #42
Sure. I'm at the Microsoft Build conference this week, but I'll verify it tomorrow when I get back.

Sent from my iPhone

[2016-04-04 17:16] bassamtabbara commented on #26
enabling --time-sync helped us. +1

[2016-04-05 08:14] #26 closed

[2016-04-08 15:14] honzatrtik opened #50 "Is there possibility to mount prl_fs /Users with suid enabled?"

[2016-04-14 13:29] romankulikov commented on #50
Confirm the problem. SUID-bit is not supported in prl_fs at the moment.

[2016-04-14 20:31] legal90 commented on #43
It should be fixed in [v1.2.0](https://github.com/Parallels/docker-machine-parallels/releases/tag/v1.2.0)

[2016-04-14 20:31] #43 closed

[2016-04-14 20:38] legal90 commented on #26
Implemented in [v1.2.0](https://github.com/Parallels/docker-machine-parallels/releases/tag/v1.2.0)

[2016-04-18 15:40] legal90 commented on #44
Hi all,
Thanks to everybody who have sent problem reports to @dskr99. Unfortunately, reports don't provide enough data to understand why the resolving is failed - everything looks good in reports.

Seems like there is only one way for us to figure out what actually happens - to let our engineer Dmitry Skorodumov @dskr99 log in remotely to your host machine (with LogMeIn or something like this) and

[2016-04-24 16:38] Nox-404 commented on #44
Hi, i got the same pb...
I managed to get around it by adding ```auth.docker.io``` ip into the vm ```/etc/hosts``` like this :

[code]

And I can then pull images... It's just a workaround but it works :)

[2016-04-24 17:06] Nox-404 commented on #44
Hi, i got the same pb...
I managed to get around it by changing dns in the vm like this :

[code]

I have to do this every time a restart the vm but at least this workaround works

[2016-04-24 17:21] Nox-404 commented on #44
If someone knows how to made my fix more permanent feel free to tell me :) I didn't have the time to find/search what managed the resolv.conf

[2016-04-27 05:32] kane-c commented on #44
This error can be from the host machine's network configuration changing (e.g. changing wifi networks or connecting to a VPN).

If you restart the VM when the connection changes, it should fix it.

[2016-05-02 03:27] romulof opened #51 "Can't SSH into recently created machine."
First:
[code]
Then...
[code]
..and the VM never comes online.

Opening Parallels I see the VM running but any attempts to SSH into it fail by timeout.

[2016-05-02 04:04] romulof commented on #51
Sorry. The problem is with boot2docker.

[2016-05-02 04:41] romulof commented on #51
Checked again and it's installing perfectly on VirtualBox.

[2016-05-18 11:02] develar opened #52 "prl_fs doesn't support wine: NtMapViewOfSection map_file_into_view"
I spent two weeks trying to run wine inside docker. But in any case I get error: err:virtual:NtMapViewOfSection map_file_into_view 0x430000 4b52000 000000000 on `wine rcedit.exe <my options>`

Finally I realized that something is broken in the prl_fs — my out folder is mounted to host OS X folder (hint: `noexec` must be not specified — it is not specified, but it is why I realized that it is `prl_

[2016-05-18 11:06] legal90 commented on #52
@romankulikov, could you please assist here?

[2016-05-31 14:45] citizenmatt opened #53 "Exposing ports from docker container?"
I'm trying to run a docker container (in a boot2docker Parallels vm) that runs an app that listens on `http://localhost:5000`, but I can't connect to it from my mac. I'm exposing the port in the Dockerfile with `EXPOSE 5000/tcp`, and then running `docker run -p 5000:5000 -t whatever`. But when I hit `localhost:5000` on my mac, it fails to connect.

I suspect I'm missing something obvious - any ide

[2016-05-31 17:37] rickard-von-essen commented on #53
`docker run -p 5000:5000 -t whatever` will map port 5000 on you docker-machine vm to port 5000 on the container. It should work if you on your mac connect to `<docker-machine ip>:5000`. You find the ip of your docker machine VM by running `docker-machine ip <name>`.

[2016-06-01 09:39] citizenmatt commented on #53
Thanks. I've got it to work, and rather embarrassingly, it was of course, my fault :) I was running a web server that by default only accepted incoming local connections, so hitting `<docker-machine ip>:5000` would fail. Once I configured it correctly, it works great. Thanks for the help, and for the driver too - aside from my mistake, it Just Works.

[2016-06-01 09:39] #53 closed

[2016-06-04 19:11] dkrotx opened #54 "Mount /Users afrer creation with --parallels-no-share"
Hi!

I created VM using docker-machine create ... --parallels-no-share. I thought I won't use /Users inside. But then I realized what I need this.

And it seems to be impossible to enable it back via Desktop Control Center: Options/Sharing/Custom Folders /Users has no effect.

[2016-06-05 07:44] legal90 commented on #54
In this case, you should mount the shared folder manually (in the VM):
[code]
[parallels.go#L558-L569](https://github.com/Parallels/docker-machine-parallels/blob/e1964aa5bfade04a6b4db4c7519e4f59257eece5/parallels.go#L558-L569)

[2016-06-05 07:44] #54 closed

[2016-06-05 08:34] dkrotx commented on #54
Thanks, works great for me!

[2016-06-09 14:38] legal90 commented on #51
Hi @romulof,
I'm sorry for the late response. Is this issue still actual for you?
If yes, then please open a VM GUI window and check - whether VM obtains the internal IP address (10.211.*.*), or not?

Also, debug output could help to understand what goes wrong. It could be enabled with `--debug` option:

[code]

[2016-06-12 10:31] romulof commented on #51
It gets an IP. I think the problem is related to boot2docker image on Parallels.

Here's the log:
[code]
And It stays like this forever.

[2016-06-17 19:50] wizonesolutions commented on #44
@legal90 I'm experiencing this as well, and I haven't changed anything in particular about my configuration. This VM worked for some time (I tried upgrading it just to refresh it), but now it doesn't.

`/etc/resolv.conf` contents:

[code]

The workaround from https://github.com/Parallels/docker-machine-parallels/issues/44#issuecomment-214001617 also worked for me.

[2016-06-21 04:28] SBratishchev commented on #44
This error relates with DNS setup of host machine.
If you change DNS address (for example: 8.8.8.8) on host machine, it will help.
I suppose that it's not docker-machine parallels bug.

[2016-06-21 14:29] legal90 commented on #51
@romulof Hm... Yes, it looks really weird. Internal DHCP server has leased the IP address, so it should be investigated on the VM's side, why its network interface is not configured properly.

It could be done via GUI-window or via CLI:
[code]

[2016-06-21 21:57] romulof commented on #51
**sshd** is not starting. On `/var/log/boot2docker.log`:

[code]

[2016-06-22 09:24] legal90 commented on #51
@romulof I see these log messages too, but _sshd_ works fine on my VM. Seems like, it is another bug of boot2docker: https://github.com/boot2docker/boot2docker/issues/1172
However, it looks not critical and doesn't break _sshd_ completely. The SSH daemon should run and accept incoming connections anyway.

Please double-check the following:
1) IP address is configured to NIC (`ifconfig | grep  10.2

[2016-06-22 15:40] romulof commented on #51
I'm only testing with a newly created docker VM.

_sshd_ is running and listening, also I can connect it inside the vm (`ssh localhost`).

It's something related with host->guest networking. Very strange :/

I tried to change the networking from _shared_ to _bridge_, rebooted the VM and made a manual connection to the address leased by my office's dhcp server and it worked, although I didn't have

[2016-06-22 17:12] romulof commented on #51
Found the problem!
My Parallels configuration was missing this check box in the picture. I don't have any idea why it was unchecked, since I never touched anything in this screen.

![2016-06-22 02 09 46 pm](https://cloud.githubusercontent.com/assets/1225889/16276041/25177e88-3883-11e6-85b5-2dcb597e60e2.png)

Thanks for the help!

[2016-06-22 19:08] legal90 commented on #51
Ah, sure, this option should be enabled. I'll investigate what can we do with that on the side of Docker Machine driver.
I'm glad that the issue is solved :)

[2016-06-22 19:08] #51 closed

[2016-06-22 19:10] romulof commented on #51
I might had clicked there by accident. Would be nice if _docker-machine_ could detect that host-vm connection is disabled.

Again, thanks for the help!

[2016-06-24 00:47] pnovotnak opened #55 "License"
I don't see a license in this repo. How may I use / reproduce this code?

[2016-07-06 13:23] rickard-von-essen commented on #55
@legal90 I'm fine with at least MIT and GPLv2.

[2016-07-06 13:32] legal90 commented on #55
Yeah, me too. We are just currently discussing it internally at Parallels.

[2016-07-12 09:36] legal90 commented on #51
I've handled this case in [v1.2.1](https://github.com/Parallels/docker-machine-parallels/releases/tag/v1.2.1). Now the human-readable message will be displayed if the host machine is not connected to Shared network.

[2016-07-12 11:04] romulof commented on #51
Although it's a very strange global configuration problem, it's very nice to have a propper error message.
Thanks!

[2016-08-07 18:24] legal90 commented on #55
Done. Licensed under MIT license: f2cf683af4941001c5034c7f9d7c37138cbb2ee6

[2016-08-07 18:24] #55 closed

[2016-08-09 07:44] legal90 commented on #52
@develar, Yes, that would be great to get a reproduction scenario, so we will be able to investigate the issue.

[2016-08-20 13:50] romankulikov commented on #52
I suppose this is another side of the problem #28 with `mmap` support in prl_fs.

[2016-09-20 04:30] globau opened #58 "allow setting of more (any?) option when creating machines"
i would like to change the default configuration for a number of options before the vm is started.  (eg. --longer-battery-life off, --isolate-vm on, --device-del usb, --device-del sound0, --device-set hdd0 --online-compact off, ..).  my end goal is to provision a vm tuned for performance over battery usage and disk space.

it would be easier if this were possible to do during the docker-machine cr

[2016-10-07 15:41] legal90 commented on #58
Hi @globau,
I understand your willings to customize the docker-machine VM on the creation phase, but unfortunately, I can't suggest how to handle this properly on the driver's side.
The idea about a text file you've mentioned might be working, but it looks very tricky to me and it is too distinct from the general Docker Machine usage scenario.

This driver was originally created to cover basic use

[2016-10-11 03:49] zouguangxian commented on #50
@romankulikov When will SUID-bit and SGID-bit be supported in prl_fs? I failed to run gitlab-ce docker in Mac EI Capitan because of this problem, the data directory was shared between Mac Host and Linux Guest. I logined in Linux Guest, then executed "chmod 2770" on that shared directory, but the command  failed and reported "permission denied."

[2016-10-12 20:03] romankulikov commented on #50
@zouguangxian unfortunately I'm not allowed tell you when. But I'm really curious why GitLab wants SUID-bit data files. For what purpose?!

[2016-10-17 09:21] zouguangxian commented on #50
@romankulikov I'm not sure why Gitlab wants SGID-bit data directory. I've resolved this problem by mounting a data only volume.

[2016-10-22 19:27] legal90 commented on #58
Seems like there are no plans to implement something similar in the Docker Machine mainstream or in other drivers.
Sorry, I'm gonna close this for the reason mentioned in my previous message.

[2016-10-22 19:27] #58 closed

[2016-10-25 04:12] globau commented on #58
no worries - thanks for taking the time to investigate it.

[2016-10-27 21:14] ackimwilliams opened #59 "Support for bridge network"
Will there be any support for bridge network? I'm having difficulty using bridged network mode.  My workflow relies on configuration of the local network and host machine. For example compose up sets up DNS entries on the host machine used globally to identify individual docker instances (as opposed to using the instance names).

[2016-10-28 12:06] legal90 commented on #59
Duplicates #41

[2016-10-28 12:06] #59 closed

[2017-02-09 16:10] dersimn commented on #41
+1

[2017-03-27 15:35] Elhodred commented on #41
Adding a second adapter works only if you access your containers from the same network configured in the bridge interface.
This is due the fact that you will end up with 2 default routes in the routing table:
docker@default:~$ ip route list
default via 10.211.55.1 dev eth0  metric 1
default via 192.168.1.1 dev eth1  metric 1

I don't find a way to remove persistently the "wrong" default route that

[2017-04-01 16:19] czenzel opened #62 "docker-machine on macOS 10.12.4 (Mac Pro 3,1 Unsupported)"
Hi, I know I am using an unsupported MacPro 3,1 but I am only having issues creating a docker machine using Parallels with this machine, but all other functions of Parallels work. Can somebody check into this?

[code]

[2017-04-04 08:33] romankulikov commented on #62
Is this issue persistent or accidental? It doesn't look like specific to Parallels driver but something related to core of docker-machine or even go runtime.

[2017-04-15 15:20] czenzel commented on #62
Hi @romankulikov The issue seems persistent. I had some issues as well on my MacBook Pro (supported 2016 model). It would start the virtual machine but never connect to it from docker-machine. Then when trying over it would error out similarly.

[2017-04-17 11:01] legal90 commented on #62
Hi, @czenzel. This issue looks similar to https://github.com/docker/docker/issues/28388.
What version of Docker Machine are you using? (run `docker-machine version`)

[2017-04-25 10:46] legal90 commented on #62
@czenzel Please ensure that you use the latest version of `docker-machine`: https://github.com/docker/machine/releases

Also, try to use the latest `docker-machine-driver-parallels` binary. I've gust released v1.2.3, which was built by go v1.7.5 on macOS 10.12.4.

I'm gonna close close this issue now but let us know if the problem will still exist.

[2017-04-25 10:46] #62 closed

[2017-05-01 14:40] p202pbrianmackey opened #65 ""Found extra arguments" error"
I run:

[code]

Error:

Al these commands are in the documentation.  What did I do wrong?

Running Parallels Desktop 12 for Mac Pro Edition

[2017-05-01 14:44] p202pbrianmackey commented on #65
Apparently prl-dev needs to be the last argument in the list.

[code]

[2017-05-01 14:44] #65 closed

[2017-05-20 21:53] taoeffect opened #66 "Can't create a machine"
So I just dropped $50 to upgrade to Pro so that I could use this driver.

Now I get this:

[code]

Any help very much appreciated... otherwise I would like my $ back please.

Using `docker-machine` installed via Homebrew, and version:

[code]

[2017-05-20 21:54] taoeffect commented on #66
Forgot to mention, I followed the advice in [this comment](https://github.com/Parallels/docker-machine-parallels/issues/7#issuecomment-153994755) and disabled the Security checkboxes, but still no dice. :-\

![screen shot 2017-05-20 at 2 51 25 pm](https://cloud.githubusercontent.com/assets/138706/26279581/41c428ee-3d6c-11e7-9268-7a5b9c4a8d09.jpg)

[2017-05-21 04:24] rickard-von-essen commented on #66
Could you run an paste the output of:

[code]

[2017-05-21 18:13] taoeffect commented on #66
[code]

I tried several different version of the other (i.e. before running the create command, and after).

Before `create`:

[code]

After:

[code]

I tried with `sudo` and it still gave that.

[2017-05-21 18:36] legal90 commented on #66
Hm... That error actually means that there are still some password-protected actions.
Could you please show the output of `prlsrvctl info | grep pass` (without sudo)?

[2017-05-21 18:45] taoeffect commented on #66
[code]

[2017-05-21 19:01] legal90 commented on #66
It shows that everything is enabled. Run these commands and then try to run `docker-machine create <...>` again:
[code]

[2017-05-23 03:02] taoeffect commented on #66
OK, sorry, I've realized that this is no longer relevant as:

1. It makes much more sense for my use case to use Docker's Mac application, which appears to install different commands than the ones on Homebrew, and also somehow does the virtualization itself in a very lightweight way, without a heavy virtual machine (via Qemu, maybe?)
2. The support people kindly refunded my purchase of the Pro lic

[2017-05-23 03:02] #66 closed

[2017-08-29 17:13] thenoid opened #67 "Parallels 13.0 issue"
VM never starts.

[code]

[code]

[code]

[2017-08-29 17:25] rickard-von-essen commented on #67
What happens if you execute the same commands manually?

[2017-08-29 17:51] thenoid commented on #67
[code]

but i don't know if that error is caused by my not running whatever magic this does
[code]

[2017-08-30 18:52] ryansch commented on #67
I just ran into this as well.  I can't provision a docker VM at all on parallels desktop 13.

[2017-08-30 19:44] rickard-von-essen commented on #67
I can confirm this.

[2017-08-30 21:13] TomKeur commented on #67
Some problem over here:

`docker-machine create --driver=parallels --parallels-memory 4096 --parallels-cpu-count 4 --parallels-disk-size 20480 flashingmachine`

[code]

[2017-08-31 05:04] rickard-von-essen commented on #67
This sequence of commands doesn't seem to work anymore:

[code]

@legal90 any insight?

[2017-08-31 13:35] bradbirnbaum commented on #67
I have the same issue.  Had to downgrade to Parallels 12

[2017-08-31 14:10] legal90 commented on #67
Hi all,
Yeah, I can confirm that as well. It looks like the conversion of the disk image from `plain` to `expanding` is broken in Parallels Desktop 13.
Since I don't work at Parallels any longer, I don't have insights there anymore.
So, I hope that @romankulikov could help us. The details are below.

## Reproduction Scenario

1. Create an empty machine:
[code]

2. Attach a plain disk to it:
[code]

[2017-08-31 14:13] legal90 commented on #67
Parallels Report ID: 208911121

[2017-08-31 16:18] romankulikov commented on #67
No insights from me for now. Parallels Desktop 13 is broken here :-( So suggest not to update to it at the moment.

[2017-09-11 17:10] thenoid commented on #67
Still broken with the latest update (Version 13.0.1 (42947)) fwiw.

`(default) DBG | HDS image path: /Users/rolsen/.docker/machine/machines/default/disk.hdd/disk.hdd.0.{5fbaabe3-6958-40ff-92a7-860e329aab41}.hds
(default) DBG | executing: /usr/local/bin/prl_disk_tool convert --expanding --hdd /Users/rolsen/.docker/machine/machines/default/disk.hdd
Error creating machine: Error in driver during mach

[2017-09-11 18:20] ryansch commented on #67
I've opened an enterprise ticket against this issue.

[2017-09-12 15:40] nhooey commented on #66
This issue affects me and I was quite happy using Homebrew's Docker until it stopped working.

[2017-09-12 15:45] nhooey commented on #66
In my case, the Parallels Desktop trial had expired. The Parallels driver should mention this.

[2017-09-13 15:27] #67 closed

[2017-09-13 18:19] TomKeur commented on #67
Are you doing a release? Because the version is still at 1.2.3?

[2017-09-13 18:37] legal90 commented on #67
@TomKeur Yes, I'm gonna build & release it today or tommorow.

[2017-09-13 18:38] TomKeur commented on #67
Thanks!

[2017-09-13 21:49] legal90 commented on #67
Done. v1.3.0 is released:
https://github.com/Parallels/docker-machine-parallels/releases/tag/v1.3.0

[2017-09-27 13:49] Bukashk0zzz opened #70 "Can't create VM problem with version parsing"
[code]
[code]

[2017-09-27 16:40] legal90 commented on #70
Hi @Bukashk0zzz,
Please, show the output of these commands:
[code]

[2017-09-28 06:57] Bukashk0zzz commented on #70
Very weird because I get error: "The command is available only in Parallels Desktop for Mac Pro or Business Edition."

But I have Business Edition installed.

<img width="893" alt="screen shot 2017-09-28 at 09 52 11" src="https://user-images.githubusercontent.com/1908342/30953200-7d6564ac-a433-11e7-9ed3-fc728eb0560f.png">

[2017-09-28 07:07] Bukashk0zzz commented on #70
I google this problem and I think problem is local so sorry for interruption.

[2017-09-28 07:07] #70 closed

[2017-09-28 09:29] romankulikov commented on #70
@Bukashk0zzz, please, send us technical data and post its id here. We'll try to investigate this licensing issue.

[2017-11-30 07:06] seantanly opened #71 "Postgresql problem with mounted volume for data"
I believe this is the same problem with https://github.com/Parallels/docker-machine-parallels/issues/28 and it works on Docker for Mac (Hyperkit) but not via docker-machine-parallels.

I have just purchased Parallels Pro for the reasons it has much better IO performance vs (free) Docker for Mac. `prl_fs` being unable to `fsync` looks like a big showstopper. Is `fsync` for `prl_fs` going to be work

[2017-11-30 08:47] romankulikov commented on #71
`fsync` should not return errors on prl_fs. Can you please help me with investigation by providing `strace` output of postgresql process when issue is reproduced?

[2017-11-30 10:54] seantanly commented on #71
I'm not sure how to do a strace, but here's the steps to reproduce the errors.

[code]

[2017-12-03 18:03] romankulikov commented on #71
Found it. This issue is caused by the absence of `fsync` operation support for directories in prl_fs.

[2017-12-04 02:36] seantanly commented on #71
Cool, will the `fsync` operation support be added soon? Does that need upgrading of Parallels to next patch version or a simple update of `docker-machine-parallels`?

[2017-12-04 09:14] romankulikov commented on #71
Neither docker-machine-parallels or Parallels Desktop. Issue should be fixed in boot2docker image really. Will try to prepare pull request with workaround.

[2017-12-05 12:59] seantanly commented on #71
Thanks, can you ref the `boot2docker` PR with this issue? Makes it easier to follow.

Hoping to see this issue resolved soon. :)

[2017-12-06 23:01] jpowell commented on #66
Same here - no useful error message that Parallels license had expired.

[2017-12-22 16:14] romankulikov commented on #71
Issues is fixed in boot2docker 17.12.0-ce-rc4.

[2017-12-22 16:14] #71 closed

[2017-12-29 03:32] seantanly commented on #71
Thank you, this issue is resolved with the release of boot2docker 17.12.0-ce a day ago.

[2018-02-06 11:48] P3t3rT opened #72 "issue with boot2docker.iso"
After installing a new vm, docker cannot connect to the frontend. See attachment
![screen shot 2018-02-02 at 09 10 01](https://user-images.githubusercontent.com/2012178/35858237-02f30b46-0b3c-11e8-938a-f94a390589e6.png)

[2018-02-11 14:04] P3t3rT commented on #72
Hi, @legal90 . The problem still exists with the latest versions. I can create the vm, but after stopping the new vm, it will not start again. See attachment.
The debug.log can be found here: https://gist.github.com/P3t3rT/118827450232f17bc31def00aa9876fe

Thanks,
Peter

![screen shot 2018-02-11 at 14 45 40](https://user-images.githubusercontent.com/2012178/36074181-b28328a8-0f3c-11e8-8bfa-49411e6

[2018-02-16 11:57] wsantos commented on #72
@P3t3rT I've the same issue, you just need to do a `docker-machine ssh` and press enter multiple times, and it will work, I couldn't find the cause.

[2018-02-25 20:05] legal90 commented on #72
Hi all,
I've investigated this issue and can confirm that it actually exists and could be reproduced on Parallels driver with all boot2docker iso releases starting since `17.12.0-ce-rc1`. It is very weird, but there is definitely something bad happens in running Docker daemon `17.12.0-ce-rc1` on boot2docker under Parallels Desktop.

**TL;DR:** Initial VM creation via `docker-machine -d parallels <

[2018-03-19 11:51] legal90 commented on #72
Pinging @thaJeztah, @tianon. Do you have any suggestion what could cause this behavior? (see my previous comment).
Maybe there is a way to run `strace` in boot2docker, so we can try to catch what `docker` daemon is actually doing while loading? Any help is appreciated.

[2018-03-19 12:01] thaJeztah commented on #72
If it’s Docker 17.11 and up, my primary suspect would be the switch to containerd 1.0.x, but no direct suggestion as to what’s the exact cause

[2018-04-03 22:27] legal90 commented on #72
Hi guys,
I can confirm that the issue is fixed in [`v18.04.0-ce-rc1`](https://github.com/boot2docker/boot2docker/releases/tag/v18.04.0-ce-rc1)

I can suggest that it might be related to Parallels Tools update to v13.2.0 and Linux kernel update to v4.9.*

[2018-04-03 22:27] #72 closed

[2018-04-10 19:27] titiyoyo opened #73 "Error checking TLS connection: Host is not running"
Every time I create a new docker-machine using the parallels driver I find myself unable to use docker.
I get the message `Error checking TLS connection: Host is not running` and the machine doesn't respond.

I tried to recreate the machine multiple times with no luck.

It used to work well until a few weeks ago

docker-machine version 0.14.0, build 89b8332
Docker version 18.03.0-ce, build 0520e24

[2018-04-11 13:37] romankulikov commented on #73
Can you please provide more information describing the problem? What version and edition of Parallels Desktop do you use? When you create docker-machine does virtual machine really start? Can you ssh into this virtual machine?

[2018-04-11 23:53] titiyoyo commented on #73
Gladly.
Here they are:

Parallels desktop 13 pro edition Version 13.3.0 (43321)

Yes it starts

yes

Also I clarify that I'm using docker-compose and not plain docker

[2018-04-12 06:24] legal90 commented on #73
@titiyoyo Could you please try to reproduce the error with boot2docker `v18.04.0-ce`, which was released recently? Just create a new docker machine vm from a scratch, so it will use the latest stable release of boot2docker.

I just think that your issue could have the same root cause as this one (was fixed in boot2docker `v18.04.0-ce-rc1` ): https://github.com/Parallels/docker-machine-parallels/is

[2018-04-12 06:43] titiyoyo commented on #73
@legal90 the same thing happens with a new machine using v18.04.0-ce

[2018-04-12 06:46] titiyoyo commented on #73
I removed ~/.docker folder and then re created my machine and now the error's gone, apparently there was something wrong there. I'll try to restore a previous snapshot and investigate what was going wrong a little further

[2018-04-12 07:11] titiyoyo commented on #73
I restored my other (and previously non functioning) machine, and now it works, using it's old certs.
I don't know what could have caused the problem, maybe a permission problem on one of the `.docker` subdirectories

[2018-04-12 07:11] #73 closed

[2018-04-25 07:35] tagirb opened #75 "files are bind-mounted as directories"
If I bind-mounting a file to a container, inside of the container I see a directory instead of that file:
[code]

My assumption is that Parallels Shared Folder doesn't support this. Can you confirm it?

[2018-05-02 16:52] romankulikov commented on #75
Confirm. Functionality of Shared Folders in Parallels Desktop doesn't support sharing regular files, only directories.

[2018-05-03 07:00] tagirb commented on #75
Thanks Roman!

What is your feeling about the project in general? Based on the project activity, my impression is it is not really actively used and supported.

[2018-05-03 07:00] #75 closed

[2018-05-03 18:12] romankulikov commented on #75
Well. I might agree that docker-machine-parallels is not under the major focus of Parallels Desktop product. But anyway there's some (micro)user-base of it. And we try to fix vital issues.

[2018-07-11 11:34] abdennour commented on #73
[code]
Or if you have a docker-machine with custom name (i.e: `mymachine`)

[code]

And so on.

[2018-08-29 11:55] alevlasu commented on #28
It needs to be checked against Parallels Desktop 14.

[2018-09-24 10:58] ronn0 opened #76 "Folders not shared"
When i start my Parallels container the folders aren't shared (or mounted)

![schermafbeelding 2018-09-24 om 12 56 51](https://user-images.githubusercontent.com/14876955/45948703-59411700-bff9-11e8-9ac8-7450ff5299d8.png)

There is no folder /Users/etc/etc

![schermafbeelding 2018-09-24 om 12 57 45](https://user-images.githubusercontent.com/14876955/45948744-7bd33000-bff9-11e8-86d8-3f3756cc5143.png

[2018-09-24 11:08] romankulikov commented on #76
In the guest (prl-dev virtual machine) Shared Folders are mounted inside `/media/psf`. Check them out:
[code]

[2018-09-24 17:57] legal90 commented on #76
Hi @ronn0,
Looking at the first screenshot I can say that your shared folder settings look misconfigured. `"Home folder only"` should not be selected there. Luckily, it's easy to fix. Just run this on your Mac host:
[code]
And then restart the VM:
[code]
After that you should see the shared folder mounted to the VM:
[code]

[2018-09-24 18:08] legal90 commented on #76
Note that `/Users` path is hardcoded in our driver, so you can't mount other folders by default. Here we just follow the behavior of other drivers in upstream, such as `vmwarefusion` and `virualbox`.

[2018-10-08 07:42] ronn0 commented on #76
This did the trick. Thanks for that.

[2018-10-08 07:42] #76 closed

[2018-12-02 12:59] shehzaman opened #77 "Allow prl_fs to follow symlinks when mounting /Users"
Is there a way to mount all folders that are symlinked in /Users?

/Users is mounted as expected when using the driver
[code]

If any folder inside /Users is symlinked outside /Users - the folder does not show up

[code]
The folders symlinked to `/Volumes/Machintosh HD/...` are not accessible inside boot2docker VM.

Is there a way to mount these folders automatically?

[2018-12-03 09:54] legal90 commented on #77
Hi @shehzaman,
Unfortunately, that is not possible at this moment. Currently symlinks work only if they refer to folders inside `/Users` directory.

I'm also not sure that the possible auto-detection is the good thing to go. However, I think we can implement the new CLI flag which will allow do define additional shared folder path or override the default one (currently it is hard-coded to `/Users`

[2018-12-03 09:58] romankulikov commented on #77
Is Machine's `mount` command a possible workaround for this type of problems? Moreover is it possible to "overwrite" `mount` from SSHFS to Parallels Shared Folders in case of our driver?

[2018-12-03 10:19] legal90 commented on #77
I don't think so. `docker-machine mount` command works other way around: it allows to mount the guest's path on the host

https://docs.docker.com/machine/reference/mount/

I was thinking about implementing some option similar to `--virtualbox-share-folder` from virtualbox driver, but maybe using a list instead
https://github.com/docker/machine/blob/821e8c76f048ca9323ecc9440c0e3d3d5ec4906d/drivers/

[2018-12-03 10:39] shehzaman commented on #77
Haveing a new CLI option will make it much easier!

[2018-12-03 10:42] romankulikov commented on #77
Personally it'd rather follow VB "style"with specifying only one directory for consistency. But if multiple directories sharing is implemented I suggest to use colon as divider of the path list.

[2018-12-17 20:03] legal90 commented on #77
OK. I just thought that this kind of consistency is not very important since drivers don't interact with each other and use unique CLI arguments anyway. So we have a chance to make our driver a bit more convenient for the end user.
For example, in VB (`--virtualbox-share-folder`) the user has to specify the share name, which is just an internal identifier and not what user should worry about.

Sor

[2018-12-18 10:02] romankulikov commented on #77
Comma is a valid symbol for a path component. And, for example, `LD_LIBRARY_PATH` uses colon as a divider.

Alternative variant: can we support passing multiple `--parallels-shared-folder` options? So each other adds new Shared Folder?

[2018-12-18 12:04] legal90 commented on #77
Oh yes! We actually can. I will do it in that way 👍

[2018-12-27 09:46] legal90 commented on #77
@shehzaman in [v1.4.0](https://github.com/Parallels/docker-machine-parallels/releases/tag/v1.4.0)
we've added the `--parallels-share-folder` option which allows you to mount custom paths, for example:

[code]
In this case your symlinks from `/Users` to `/Volumes/Macintosh HD` should work.

NB: Sharing the system paths with your VM is on your risk!

[2018-12-27 09:46] #77 closed

[2019-01-02 13:53] shehzaman commented on #77
@legal90 Thank's a tonne! Tested and working very well!

NB: Yes, all risk is mine 👍

[2019-04-08 06:55] shehzaman opened #80 "Installing docker-machine-parallels failing with error"
Hi, I have used `docker-machine-parallels` in the past, and it has worked really well.

I am working on an older system running `macOS 10.11` for testing, and installation fails using `Homebrew`. I remember installing `docker-machine-parallels` successfully on this system in December, 2018. But somehow it is failing now.

Here is the output log:

[code]

Any help would be greatly appreciated! It m

[2019-04-09 17:44] romankulikov commented on #80
Do trivial permission fix-ups (like `sudo chown -R "$USER" /usr/local/Cellar/go`) work?

[2019-04-11 03:17] shehzaman commented on #80
Permissions seemed fine `$USER is apple`

[code]

Homebrew updated yesterday, build dependency go updated from version `1.12.2 -> 1.12.3` and that seems to have fixed the issue!

All my images are back up! Thank you

[2019-04-11 03:17] #80 closed

[2019-06-24 02:49] HunterDG commented on #41
Glad I found this issue!

Workaround:
`docker-machine create --driver parallels default`
`docker machine env` to find the "Shared" IP
`docker-machine stop`
change the network interface to bridged in parallels config, then manually start the VM
run `ip a` in the docker VM to find new bridged IP
replace "Shared" with bridged IP in `/Library/Preferences/Parallels/parallels_dhcp_leases`, save file
`do

[2019-10-15 14:52] caffeineflo commented on #41
Nice workaround.

It seems though as restarting the docker machine will invalidate the certificates/docker remote API and you'd have to reprovision/regenerate the certs again. Very unfortunate

[2019-10-20 08:01] ianbytchek opened #82 "Hosts are not updated with Parallels Desktop 15"
Upgraded to Parallels Desktop 15 over a week ago and everything worked smooth until this morning – all services relying on the local hostname added by the Parallels provider to /etc/hosts stopped working complaining the host couldn't be found. After a few macOS restarts and unsuccessful recovery attempts I reverted back to version 14 and /etc/hosts began updating as usual.

With version 15 behavin

[2019-10-21 08:57] romankulikov commented on #82
I'm I right saying that VMs' host names were not added to `/etc/hosts` of your macOS?

[2019-10-21 09:02] ianbytchek commented on #82
Yes, correct – `/etc/hosts` on the host macOS (10.14.6 (18G103)) are not updated. AFAIK this is handled by the Parallels provider, not docker-machine – checking in case I got this mixed up.

[2019-10-21 11:09] romankulikov commented on #82
Can you please generate a technical report when this issue is reproducing and post report's id here?

[2019-11-06 19:28] mediaessenz opened #83 "Docker Machine is not running properly after update to macOS Catalina"
After the first generation of a new machine (in my case done by "dinghy", a reverse proxy solution) everything seems to work normal.
But after stopping the machine and try to start it again, its not working anymore.
The startup ends up with this error message
[code]
After starting the machine with debug option I get ten times this fault, before the upper error comes up again:
[code]
Watching the b

[2019-11-06 21:45] ryansch commented on #82
I've run into this behaviour on both 14 and 15 a handful of times over the past year. I'll post a report the next time I run into it.

[2019-11-07 15:33] KatSick commented on #83
any updates on this? I have similar problem. before latest Catalina updates all went well, but now on come commands like `docker-compose up` I see: `[1]    26388 abort      docker-compose up` and that's all

[2019-11-07 15:41] mediaessenz commented on #83
@KatSick Maybe this helps: https://github.com/Homebrew/homebrew-core/issues/45687#issuecomment-547102000

[2019-11-09 07:46] romankulikov commented on #83
@mediaessenz , does this workaround help for you?

[2019-11-10 20:28] mediaessenz commented on #83
Yes

[2019-11-15 12:12] mediaessenz commented on #83
An Update:
I got a brand new iMac yesterday and started to set up the system to my needs.
Because of the problems with restarting a docker machine I described here, I made the desicion **not** to use a timemachine backup of my old mac.
I installed only some basic stuff (browser, iterm, parallels desktop 15 and brew) before I used brew to install docker, docker-compose, docker-machine and docker-ma

[2019-11-18 08:55] mediaessenz commented on #83
Am I really the ony one on this planet who have problems with using docker machine together with parallels desktop on macOS Catalina?

[2019-11-18 09:53] mediaessenz commented on #83
After comparing the debug output of the first (working) start (create command) and the second (not working) start (start command) I found this different which may can help to identify the problem:

1. Start:
[code]
2. Start
[code]

[2019-11-18 14:36] romankulikov commented on #83
Well, it looks like the issue is in broken IP address reporting from virtual machine. I'm investigating it.

[2019-11-25 12:50] mediaessenz commented on #83
Any news about this?

[2019-11-27 09:13] romankulikov commented on #83
It looks like this is duplicate of #https://github.com/docker/machine/issues/3595. For example, switching to older version of boot2docker works for me:
[code]

[2019-11-27 12:13] romankulikov commented on #83
Well, now after more investigation I tend to reference this issue down to the lack of entropy at the start of virtual machine. It is described in #https://github.com/boot2docker/boot2docker/pull/1322#issuecomment-396372707. Watching at `/var/lib/boot2docker/log/docker.log` inside virtual machine this message is printed at the start of dockerd:
[code]
–dockerd hangs at the start of the system which

[2019-11-27 18:19] mediaessenz commented on #83
@romankulikov You are my HERO!!!
After switching to the older image my problems are gone!
Thank You very much for the energy you put into this issue!

[2020-02-29 17:43] ianbytchek commented on #83
@romankulikov Sorry in advance if the question is dumb. I understand this is an issue with boot2docker image, but isn't this a show stopper? Aren't other drivers affected by this and if no, is there a way Parallels driver can adapt? If I understand correctly the referencing PR had something to do with fixing this, but the latest version (on Mojave) still shows the same behaviour (can create, canno

[2020-02-29 17:54] ianbytchek commented on #82
I haven't seen this issue for awhile now. Feel free to reopen if there's any other info.

[2020-02-29 17:54] #82 closed

[2020-02-29 18:29] ianbytchek commented on #71
@romankulikov I'm running into what might be the same issue with:

[code]

`docker log postgres` returns:

[code]

I followed the notes from the #28, I can see the local data directory in boot2docker image when I open it through parallels, Docker changes the directory group (or user) to 999. I'm 99% confident this is the same setup I used on another machine last year and it worked fine.

[2020-03-03 10:26] romankulikov commented on #83
I've tried Parallels Desktop 15.1.2 and VirtualBox 6.1.4 with Boot2Docker v19.03.5–both work ok for me at the moment. At least in this case of creating and starting "dinghy" machine. @ianbytchek, can you please share your setup for me to reproduce the problem?

Speaking about the lack of entropy when starting the guest OS on the one hand it does look like a showstopper. On the other hand it doesn'

[2020-03-03 11:13] romankulikov commented on #83
Well, it looks like boot2docker starting from 19.03.5 has a [backported patch](https://github.com/boot2docker/boot2docker/commit/054e7b52cc8a52cd0df65c273541e8bda8c43dd5) from Linux kernel 5.4 with entropy fixes. So my picture of the problem is broken. And I need to know if one can reproduce the issue with recent boot2docker image.

[2020-03-03 15:32] romankulikov commented on #71
The thing is that Parallels Shared Folders don't support creating hard links. That's why you get such error. Here it is: https://github.com/Parallels/docker-machine-parallels/issues/45.

But this could be workarounded by the algorithm described by the topic-starter https://github.com/Parallels/docker-machine-parallels/issues/71#issuecomment-348153883.

[2020-03-03 20:05] d8vjork opened #85 "Error creating Docker machine"
![image](https://user-images.githubusercontent.com/2331052/75814804-4acc6280-5d8a-11ea-8661-733d76fa2a7d.png)

Checked Parallels and the machine is there, try as well removing and recreating, restarting and nothing yet.

Apparently always fails when it try to check if the machine is running and which version of Docker is it.

Parallels version: 15.1.2
Docker version: 19.03.5

[2020-04-16 20:50] pozgo opened #87 "MacOS Catalina 10.15.4 with supplement update: Cannot create VM "Your Mac host is not connected to Shared network""
After updating to MacOS 10.15.4 (19E287_) Supplemental Update today cannot create docker machine anymore using parallels

[code]
Yet the Parallels is working correctly

![Screenshot 2020-04-16 at 21 50 02](https://user-images.githubusercontent.com/1773188/79505411-3edfeb80-802c-11ea-9db7-2184a562032d.png)

[2020-04-21 10:23] a-samarin opened #88 "Docker-compose volumes don't mount"
Hello!
I have a docker-compose that I'm using to build Django + React project.

Yesterday I've wanted to change some staff and figured out that project didn't build. After some investigation I found that volumes don't mount at all (for django and and react frontend)

I'm using this scheme

[code]

1. I tried to change the path to "full path" or @PWD/api - didn't help.
2. I have Version 15.1.3 (472

[2020-04-25 04:30] romankulikov commented on #87
Can you please provide output of command `prlsrvctl net info Shared`?

[2020-04-25 13:45] romankulikov commented on #88
Can you please provide a bit more details how to reproduce the problem? Dockerfile would be helpful.

[2020-04-25 16:24] a-samarin commented on #88
Hello!

As I wrote before the problem is that the 'backend' folder contains only backend.sh and 'requirements' folder, because they are copied 'inside' Dockerfile, but it does't contain the source code ('./api') that is mounted inside docker-compose.

There is my Dockerfile
[code]

and entrypoint script
[code]

Thank you for your help!

[2020-04-26 18:08] legal90 commented on #85
@d8vjork Does the directory `/Library/Preferences/Parallels` exist and not empty?

[2020-04-26 18:36] legal90 commented on #88
@a-samarin Let's make sure that your Mac host folders are actually mapped into the VM. Please run these commands in the working directory on Mac host:
[code]
Do they return the same output? I guess, there should be the `requirements` dir and other stuff.

[2020-04-26 18:50] legal90 commented on #28
The issue still persist on Parallels Desktop 15.1.3.

1. With image `mongo:3.2.0`, the same what we tried above 4 years ago:
[code]

2. With image `mongo:4.2.6`, the latest at this moment:
[code]

Although, it's pretty rear use case. I'm not sure how often people want to mount the db dir to the container from their Mac host 🤔

[2020-04-26 20:41] d8vjork commented on #85
@legal90 Yeah, it does exists and with some files inside

[2020-04-27 05:14] a-samarin commented on #88
@legal90 , files and folders aren't mapped

first of all, '$(PWD)/api'  is a wrong path
[code]

but
`docker-machine ssh default -- ls $(PWD)/Projects/[ProjectName]/api `
returns nothing

on Mac host
[code]

As you can see  inside 'project' directory several folders and files on my Mac, but inside docker-machine this command returns only 'api' folder
[code]

Hope this helps. If you need more inform

[2020-04-27 05:42] legal90 commented on #88
OK, so the working dir in your case is `/Users/anton/Projects/BottingMe` and it seems there is some issue with sharing this folder (or the entire content of `/Users`) between the Mac and Docker Machine VM.

Please restart the vm, `docker-machine restart default` and check if the files are on place?:
[code]

If it doesn't help - try creating a new VM and check there:
[code]

[2020-04-27 05:59] legal90 commented on #85
I tried to reproduce this issue by deleting `/Library/Preferences/Parallels/parallels_dhcp_leases` and creating a new docker-machine VM:
[code]
I see the same output as you, but then after 8th attempt this file is found and docker-machine proceeds. That's normal, because `parallels_dhcp_leases` is created automatically when the first VM starts up and requests its IP address by DHCP.

@d8vjork What

[2020-04-27 07:55] a-samarin commented on #88
this command fixed mapping

[code]

I've successfully built 'django' part of project. Could you please not close the issue  I'll try to build whole project today

Thank you for your help

[2020-04-28 18:29] pozgo commented on #87
[code]

[2020-04-28 18:43] pozgo commented on #87
I think the issue related to parallels itself rather than this module.
After reboot, all works as expected. Until one reboot it doesn't due to obviously not loading the driver.

[2020-04-30 04:22] a-samarin commented on #88
@legal90, I've built the full project successfully. Thank you!

[2020-04-30 05:44] #88 closed

[2020-05-04 17:31] sbfkcel opened #89 "Port mapping is invalid"
![image](https://user-images.githubusercontent.com/5469785/80994825-df793c80-8e6f-11ea-9576-b89ca9357bfa.png)

Viewing the container shows that the port mapping is normal.
However, the local port is not visible.

---
The default network configuration used

[2020-05-04 17:50] dskr99 commented on #89
Please post a problem report from Parallels: Help -> Send technical data and post here it's number

[2020-05-04 17:54] legal90 commented on #89
@sbfkcel What you see in `docker ps` output is relevant to your DOCKER_HOST, which is your virtual machine created with `docker-machine`.  The port is listened on the VM interface, not on your Mac.

If you want to access the port from your Mac, get the VM's IP by running `docker-machine IP <vm name>` and use it instead of `127.0.0.1`. (ref: https://github.com/Parallels/docker-machine-parallels/iss

[2020-05-05 02:59] sbfkcel commented on #89
@legal90 Thank you. The problem is solved.

[2020-05-05 02:59] #89 closed

[2020-05-06 05:47] romankulikov commented on #28
[code]
Investigating this. The thing is that WiredTiger starts successfully over SharedFolders on Ubuntu distro, but does fail in boot2docker.

[2020-05-20 13:11] antoniogermano opened #90 "Can't start minikube: HostIP not yet implemented for "parallels" driver"
Minikube works with HyperKit and also VirtualBox, but does not work with the Parallels driver.
The issue is `HostIP not yet implemented for "parallels" driver`

I have installed the parallels driver with MacPorts, and then uninstalled that and installed with Homebrew, but it didn't make a difference, I get the same error message on either.

Here's the complete log:
[code]

I know the log asks to o

[2020-05-20 13:58] legal90 commented on #90
Hi @antoniogermano,

`libmachine` doesn't provide a way to expose HostIP, so it seems it should be implemented on the minikube side. The error comes from here:
https://github.com/kubernetes/minikube/blob/522c746df4b653d4a77f98be737025bf23d10a5b/pkg/minikube/cluster/ip.go#L90

And there is an ongoing discussion about Parallels support for minikube:
https://github.com/kubernetes/minikube/issues/4862

[2020-05-23 19:07] legal90 commented on #90
I sent the PR to the minikube repo: https://github.com/kubernetes/minikube/pull/8259

[2020-05-23 19:12] legal90 commented on #87
The last output you've posted does not contain the line `Bound To: vnic0`, which leaded to the error you got.
So, yes - usually, the reboot helps to solve it 👍

[2020-05-23 19:12] #87 closed

[2020-05-23 19:19] legal90 commented on #44
Hi all, there was no activity in this issue for almost 4 years, so I'm closing it.

Feel free to open a new one if you will face that issue again on the latest version of Parallels Desktop for Mac

[2020-05-23 19:19] #44 closed

[2020-05-27 05:23] legal90 commented on #90
kubernetes/minikube#8259 was merged

[2020-05-27 05:23] #90 closed

[2020-05-29 18:26] tstromberg opened #91 "Error with pre-create check: "Parallels Desktop edition could not be fetched!""
This happens with both docker-machine and minikube:

[code]

Looking at the code - the parsing appears to be made here:

https://github.com/Parallels/docker-machine-parallels/blob/ae235d0689e70542f27c6a327596983389579485/parallels_darwin.go#L783

Here is what I believe the underlying command output is:

[code]

I just downloaded a demo of Parallels to help a minikube user out, so I do not have a l

[2020-05-29 18:53] tstromberg commented on #91
The appropriate workaround I found was to select `Account & License...` in the `Parallels` menu. Add a user, and select a 14-day trial. Then a license showed up and docker-machine + minikube could run as expected.

[2020-06-05 13:53] mediaessenz commented on #83
Unfortunately, at least for me, the problem still exists with the latest boot2docker image (19.03.5)

[2020-06-05 13:53] josefglatz commented on #83
@romankulikov Tried it with `boot2docker iso image version 19.03.5` and get still same error es @mediaessenz already mentioned after a `dinghy stop && dinghy up`:

[code]

[2020-06-05 15:20] legal90 commented on #83
boot2docker `19.03.5` was released from the earlier state, before that fix.

And, unfortunately, it seems there will be no releases anymore 😭 : https://github.com/boot2docker/boot2docker/pull/1408
That actually looks like the sunset of the entire Docker Machine project.

[2020-06-07 07:45] josefglatz opened #92 "Should an deprecated-info added since docker-machine is only in maintenance mode anymore"

[2020-06-07 08:14] legal90 commented on #91
@tstromberg Thank you for pointing on this! I agree - we should update the error message and make it more helpful 👍

[2020-06-07 09:08] legal90 commented on #92
Hi @josefglatz,

Despite the fact that Docker Machine itself is in the maintenance mode, it was not actually deprecated (https://github.com/docker/machine/issues/4537).
It could still be used. And, what's more important, `libmachine` library is not deprecated neither.

Our driver, which we traditionally call "docker machine driver" could also be used with other projects leveraging drivers based on

[2020-06-07 09:08] #92 closed

[2020-06-24 13:59] romankulikov commented on #83
Yeah :-(

@legal90, how should we proceed with this issue? From my point it should be fixed only on guest OS (i.e. boot2docker) side. Is forking boot2docker an option?

[2020-06-24 14:10] legal90 commented on #83
@romankulikov Building and releasing a custom `boot2docker.iso` might be an option, but in this case all users will have to specify the custom URL to it using `--parallels-boot2docker-url` flag.

I asked here if there is any chance for the patch to be released: https://github.com/boot2docker/boot2docker/pull/1403#issuecomment-648843520

[2020-06-30 21:53] legal90 commented on #83
v19.03.12, the final release of boot2docker was published today: https://github.com/boot2docker/boot2docker/releases/tag/v19.03.12

It includes the fix boot2docker/boot2docker#1403 and this issue should be solved there. I checked it on the test vm by doing `docker-machine restart` several times and it works as expected - no "Maximum number of retries (10) exceeded"  errors anymore.
@mediaessenz, p

[2020-07-01 19:43] mediaessenz commented on #83
YES, IT WORKS !

Thanks a lot to all involved people!

[2020-07-10 12:25] #83 closed

[2020-08-12 13:38] MadsJakobsen opened #93 "Parallels 16, issues with host connected to Shared network"
Hi,
I just wanted to give a quick heads up, I assume this is due to a bug in parallels 16. after Upgrading to 16 I ran into the following message when trying to start the docker-machine instance:
[code]
I check the UI and the option is enabled, I also tried with `prlsrvctl net set Shared --connect-host-to-net on`, however the `Bound To:` is no where to be found.

If I remove the check in isSharedC

[2020-08-24 12:42] matttarantino commented on #93
I am also experiencing this issue. @MadsJakobsen mind sharing where `isSharedConnected()` is so I can see if removing the check fixes my issue as well?

[2020-08-24 17:11] MadsJakobsen commented on #93
Hi @matttarantino the code is here: https://github.com/Parallels/docker-machine-parallels/blob/865d31df2dacb3534d6a6260b973184652cee67b/parallels_darwin.go#L790

I ended up changing it to the following snippet below, just as **a workaround**, and then followed the build instructions https://github.com/Parallels/docker-machine-parallels#build-from-source:

[code]

[2020-09-19 20:54] legal90 commented on #93
@MadsJakobsen Could you please show the output of the command `prlsrvctl net info Shared` in your case, when you don't have `Bound to:` there?

[2020-09-20 07:22] MadsJakobsen commented on #93
@legal90 here is the output from `prlsrvctl net info Shared`:

[code]

Here is a screen shot of my preferences dialog:
<img width="710" alt="Screenshot 2020-09-20 at 09 19 02" src="https://user-images.githubusercontent.com/887218/93706022-a2fa6480-fb22-11ea-97b3-d2479a7dd0df.png">

[2020-09-21 18:10] legal90 commented on #93
Thanks, @MadsJakobsen ! Everything looks fine except that the line `Bound To: vnic0` is missing. I guess, all the rest also works fine for you, e.q. the Mac host actually has a virtual interface with `10.211.55.2` assigned, so in can access the boot2docker VM.

@andreydanin @romankulikov Could you please check if that's the normal behavior, or a bug?
Meanwhile, I'll change the regex to accept the

[2020-09-21 19:45] dskr99 commented on #93
@legal90 The this is that Parallels is now using Apple's API to create a "vnic" analog on host and there will be no interface named vnic0. Now macOS creates own interface and plugs it into the bridge:

bridge100: flags=8863<UP,BROADCAST,SMART,RUNNING,SIMPLEX,MULTICAST> mtu 1500
	options=3<RXCSUM,TXCSUM>
	ether f6:5c:89:49:bf:64
	inet 10.211.55.2 netmask 0xffffff00 broadcast 10.211.55.255
	inet6 fe

[2020-09-21 19:54] legal90 commented on #93
Currently we just search for `Bound To:` in the output of `prlsrvctl net info Shared` substring: https://github.com/Parallels/docker-machine-parallels/blob/865d31df2dacb3534d6a6260b973184652cee67b/parallels_darwin.go#L796

We can easily change it to something else pointing that the network interface for the `Shared` network is actually enabled on the host (like the checkbox "Connect Mac to this ne

[2020-09-21 19:56] dskr99 commented on #93
@legal90 could be a bit better to find  ip-address in

Network ID: Shared
Type: shared
Parallels adapter:
	IPv4 address: 10.211.55.2

and then check presence of IP on host (by grepping output of ifconfig)

[2020-09-21 19:58] legal90 commented on #93
@dskr99 OK, thanks! I'll check how we can do that

[2020-10-05 20:43] legal90 commented on #93
Sorry that it took longer than I initially expected.
I sent a PR with the fix according to what @dskr99 suggested above: https://github.com/Parallels/docker-machine-parallels/pull/96

[2020-10-07 21:17] medyagh opened #97 "parallels license for testing minikube"
apologizes if this is the wrong place to ask, but  I am one of the [minikube](https://minikube.sigs.k8s.io/) maintainers, we test minikube against many virtualization technologies (hyperv, vbox, hyperkit,...) but in  we have un-tested support for parallel driver, if parallels team is interested we could test minikube against parallels too.

[2020-10-13 18:44] #93 closed

[2020-10-13 18:45] #91 closed

[2020-10-14 06:35] legal90 commented on #93
@MadsJakobsen the fix is released in v2.0.0 : https://github.com/Parallels/docker-machine-parallels/releases/tag/v2.0.0
Could you please verify it in your environment?

[2020-10-14 06:37] legal90 commented on #85
Hi @d8vjork, Do you still have this issue, or we can close it?

[2020-10-14 06:45] legal90 commented on #41
Hi all,
Since Docker Machine was put into the maintenance mode (https://github.com/docker/machine/issues/4537) there is almost no chance that the Bridge network support will be officially added there (https://github.com/docker/machine/issues/1491).
Therefore, we are not going to implement it in parallels driver neither.

Those of you, who still need that, I would recommend using the workaround pos

[2020-10-14 06:45] #41 closed

[2020-10-14 06:50] #45 closed

[2020-10-14 06:53] legal90 commented on #52
I'm closing this issue in favor of #28

[2020-10-14 06:53] #52 closed

[2020-10-14 22:36] matttarantino commented on #93
I installed the new release and now anytime I try to bring up a machine, my laptop kernel panics and reboots. I am on Big Sur beta 10, Parallels 16. How can I help troubleshoot?

[2020-10-15 08:36] andreydanin commented on #93
@matttarantino Please create a problem report with technical details and send me it's number.

[2020-10-15 12:45] MadsJakobsen commented on #93
@matttarantino are you using the Parallels hypervisor? I had the same behaviour with Big Sur beta, the fan would spin up and macOS would panic right after launching a VM. There is an issue on the [Parallels forum](https://forum.parallels.com/threads/macos-big-sur-got-panic-when-i-tried-to-open-a-macos-client-in-pd-16.350681/) describing the behaviour, the fix suggested is to use the Apple hypervis

[2020-10-17 14:13] LukeCarrier commented on #93
I still seem to be having this issue, even with the updated binary:

[code]

I tried building from source but even after verifying it was the first copy of the driver in my PATH and commenting out both of the checks I couldn't get it working. Particularly strangely, if this _is_ the version it's using I don't see why this expression wouldn't match:

[code]

[2020-10-17 17:04] legal90 commented on #93
@LukeCarrier according to the error message you've got, you are still using the old version of `docker-machine-driver-parallels`:

In v2.0.0 we've changed the phrase `Please, enable this option` to `Please, ensure this option is set` :
https://github.com/Parallels/docker-machine-parallels/pull/96/files#diff-36e7efdbaacec2bf1d02ae428610b099fe59d07102fa975abd660cf924f35633R51

Please, make sure that

[2020-10-17 18:55] LukeCarrier commented on #93
I can see the difference in the text and I agree with your assessment, even after unlinking the Homebrew installed `docker-machine-parallels` and copying my own binary to `/usr/local/bin/docker-machine-driver-parallels` I still see the same error:

[code]

I figured it was just using a different binary, so I deleted it and tried again:

[code]

Even stranger:

[code]

I'm missing something, any id

[2020-10-17 18:59] LukeCarrier commented on #93
As if this wasn't baffling enough:

[code]

[2020-10-19 19:07] legal90 commented on #97
@andreydanin ^ Do you have any insides from Parallels regarding this?
`minikube` uses our driver in a similar way as Docker Machine does it.
And the user base of `minikube` is growing fast, unlike the Docker Machine, which is in "maintenance mode" (aka deprecated).

[2020-10-19 19:19] legal90 commented on #93
@LukeCarrier I found what's the reason of this.
Unlike `docker-machine`, `minikube` doesn't actually do RPC calls of `PreCreateCheck`, `Create` and other methods from our driver. Instead, it calls them from the vendored dependency (as a library), which is still locked to v1.3.0:
https://github.com/kubernetes/minikube/blob/a282354419135221325414c1d8d03f3bd37b58e3/go.mod#L8

That's why you still see

[2020-10-19 19:34] andreydanin commented on #97
Hi @medyagh. What do you expect from the Parallels team? What actions will be required from our side?

[2020-10-19 20:16] legal90 commented on #93
@LukeCarrier @medyagh I found the root cause of this issue on minikube side and submitted the fix: https://github.com/kubernetes/minikube/pull/9494

[2020-10-19 23:11] LukeCarrier commented on #93
@legal90 thanks for the prompt follow up, really appreciate it. These integrations are a large part of the reason I became a customer so it’s great to see they’re so well maintained.

[2020-10-28 11:13] #97 closed

[2020-11-09 08:13] Uhucream opened #98 "Docker Machine doesn't detect files changed event"
I use Docker Machine driver with Parallels Desktop, and I want to use `yarn run watch` inside docker, but docker-compose with Docker Machine doesn't detect any files changed event. So `yarn run watch` is supposed to build react application when files changed, but docker-compose with docker machine doesn't.

I don't know what is cause.
Please tell me that.

[2020-11-20 12:09] legal90 commented on #93
The final fix is release in minikube v1.15.0: https://github.com/kubernetes/minikube/releases/tag/v1.15.0

Please note that starting since v1.15.0 `minikube` has the parallels driver built-in, so you don't need a separate binary `docker-machine-driver-parallels` for minikube anymore.

[2020-12-01 20:14] alvint opened #99 "M1 support"
Parallels is working on support for M1 Macs. This is just a blanket issue to ensure compatibility (or document incompatibility) with the M1 version of Parallels. This should probably be parked until at least a beta of Parallels M1 is available.

BTW, I volunteer my M1s as guinea pigs if needed (MBP and DTK).

[2020-12-10 12:34] vitalik74 commented on #98
+1 The same issue. Using webpack-dev-server

[2020-12-10 13:11] legal90 commented on #98
@Uhucream @vitalik74 , could you please post the details of your environment?
- version of macOS version
- version of Parallels Desktop for Mac
- version of boot2docker used in your docker-machine VM.

Also, it would be good to have a reproduction scenario

[2020-12-10 13:24] #85 closed

[2020-12-10 13:25] legal90 commented on #85
I'm closing this issue due to inactivity. Feel free to create a new issue if it's still actual

[2020-12-10 15:41] vitalik74 commented on #98
@legal90 Michael, hey,
Thanks for reply!

I found the solution. Need add `--watch-poll` in run command. Or set
[code]

In `webpack.cpnfig.js`

See the doc:
https://webpack.js.org/guides/development-vagrant/#running-the-server
https://webpack.js.org/configuration/watch/#watchoptionspoll

[2020-12-16 01:13] Uhucream commented on #98
@legal90

Thank you for responding and I'm sorry not to respond quickly and sorry not to provide enough information.

My environment is below.
- macOS: Big Sur(It was Catalina when I had posted this issue.)

- Parallels Desktop: 16
- boot2docker: 19.03.12

[2020-12-23 12:06] Uhucream commented on #98
@vitalik74

I've tried it, then it works!
Thanks!

[2020-12-23 12:06] #98 closed

[2021-02-08 04:19] HunterDG commented on #41
FYI - not explicitly related to this issue, but relevant to my need at the time (homebridge/other containers that require net=host only [don't work in Docker Desktop](https://docs.docker.com/network/host/))...

There is now a [homebridge-vm-image](https://github.com/homebridge/homebridge-vm-image) that negates the need for docker-machine.

[2021-04-15 05:38] idontusenumbers opened #100 "Why use parallels over HyperKit"
Could the Parallels team update the readme with a list of benefits and maybe even drawbacks to using parallels over docker desktop/macos built in hyperkit virtualization?

[2021-04-23 21:11] tobernguyen commented on #99
Since Parallels is now officially supporting Macbook M1 in version 16.5. Is there any update on this?

[2021-04-24 07:36] legal90 commented on #99
@alvint @tobernguyen Could you please elaborate - which exact use case are you interested in?

Docker Machine project has been put into the maintenance mode back in 2019 (https://github.com/docker/machine/issues/4537), so it is less likely that Apple M1 support will be added there.

Or, are you trying to use it with minikube (which also leverages our driver)?

[2021-04-28 05:08] tobernguyen commented on #99
Ah, my experience with Docker for Mac is it is still very slow and I just want to try if running the Docker in Ubuntu VM in Parallels could improve that.

[2021-04-28 10:30] afbjorklund commented on #99
You should be able to start Docker on an Ubuntu VM, using something like Vagrant rather than Machine:

https://boot2podman.github.io/2020/07/22/machine-replacement.html

http://parallels.github.io/vagrant-parallels/docs/

Otherwise you would need boot2podman for arm64, which is not available. But I'm working on a replacement.

[2021-04-28 10:56] afbjorklund commented on #99
Does parallells require something special for UEFI, or can it run the images right out-of-the-box ?

My normal target is Raspberry Pi, which uses SD cards and a special kernel, rather than an ISO.
But there is a renewed interest in making regular disk images, so swapped ISOLINUX for GRUB.

Basically I'm wondering if this [minimal buildroot](https://github.com/afbjorklund/minimal-buildroot) image w

[2021-04-28 19:43] afbjorklund commented on #99
Thanks for testing! It's related in the sense that the minikube.iso is based on buildroot, and it uses libmachine

[2021-05-07 10:08] teran commented on #28
My +1 for this issue.
I've noticed kinda similar behaviour with PostgreSQL database on external volume mounted from the host.

Any updates on that?

[2021-05-07 13:00] romankulikov commented on #28
I've failed to debug the problem the previous year and postponed an attempt. If there's an interest in the problem I may try again. Any additional info and steps to reproduce are welcome.

[2021-05-07 13:07] teran commented on #28
Hello @romankulikov,

Thanks for the update!

I've made a really trivial thing: launched `docker run -v /Volumes/externalDisk/directory:/data postgres` and tried to run `initdb` on that directory.

Things I've noted:
- `chown -R postgres:postgres /data` made no changes on source filesystem, i.e. have no changed owner UID:GID on /Volumes/externalDisk/directory so it looks like there's some mapping

[2021-05-21 09:43] rburgst opened #101 "host.docker.internal not supported"
newer docker for mac versions support mapping the docker host address to `host.docker.internal`, see also https://docs.docker.com/docker-for-windows/networking/

this is not supported in docker machine for parallels.

[2021-05-21 10:03] legal90 commented on #101
Hi @rburgst
Yes, I can confirm it's not supported in Docker Machine, but there is nothing what we can do with that on our plugin side.
And unfortunately I don't think it will ever be available in Docker Machine, because both Docker Machine and boot2docker (the Linux distribution with Docker Engine) are in maintenance mode / end-of-support:
- https://github.com/docker/machine/issues/4537
- https://

[2021-05-21 12:03] rburgst commented on #101
Thanks a lot for your prompt reply!

[2021-05-21 12:03] #101 closed

[2021-06-29 10:12] santarinto opened #102 "error while create docker with parralles driver"
I am try this

`docker-machine create --driver=parallels --parallels-nested-virtualization --parallels-memory=4096 --parallels-cpu-count=2 --parallels-disk-size=32768 mname`

terminal out:

[code]

[2021-06-29 10:30] legal90 commented on #102
@santarinto Could you please provide versions of Parallels Desktop, Docekr Machine and the driver you are using?
[code]

[2021-06-29 10:33] santarinto commented on #102
[code]

[2021-06-29 10:35] santarinto commented on #102
And my OS "macOS Big Sur ver 11.4"

[2021-06-29 10:39] legal90 commented on #102
@santarinto Does that error happens always, even if you retry?
[code]

I'm asking because the file `/Library/Preferences/Parallels/parallels_dhcp_leases` is supposed to be created automatically once you create the very first VM on this Mac host. There might be a delay, which causes our driver to fail like in your case. But the subsequent attempt should work fine...

[2021-06-29 10:40] santarinto commented on #102
plz waitasec)

[2021-06-29 10:46] santarinto commented on #102
[code]

[2021-06-29 10:49] santarinto commented on #102
![image](https://user-images.githubusercontent.com/7934448/123785069-c25bc480-d8e0-11eb-9777-99f905cfae08.png)

[2021-06-29 10:49] santarinto commented on #102
show into VM parallels

[2021-06-29 10:58] legal90 commented on #102
It seems the VM fails to boot.  @romankulikov Do you have any idea why could that happen?
I can't reproduce it locally with the same versions.

[2021-06-29 11:01] legal90 commented on #102
@santarinto It seems that you have just installed Parallels Desktop on this host recently. Did you reboot the host after the installation, as it was suggested?

[2021-06-29 11:02] santarinto commented on #102
i am rebooting machine from paralles gui and vm is start success
but into docker-machine have errors:

[code]

in this sceen on VM:
![image](https://user-images.githubusercontent.com/7934448/123786576-86296380-d8e2-11eb-875c-62b40e603e9a.png)

not a am not reebot. Start reboot host now

[2021-06-29 11:10] santarinto commented on #102
after reboot
[code]

[2021-06-29 11:13] santarinto commented on #102
yeah!

[code]

help to me! thank you!

[2021-06-29 11:16] #102 closed

[2021-06-29 11:53] romankulikov commented on #102
Huh, all this looks weird :-/ I have no idea how regenerating certs could help avoid that kernel panic. Technical Report from the failing guest may be helpful.

[2021-06-29 13:44] santarinto opened #103 "The connection attempt failed"
Hello, I can't connect to the container via a shared port, in this case we are talking about a Postgresql container

[code]

And docker output

[code]

Before all work on vbox driver. In just time connection error pgsql [08001] conn error

I apologize in advance if I take you away from work. May be i need setup shared port on paralles gui ?

[2021-06-29 13:58] legal90 commented on #103
How do you try to connect?

If you want to connect from your Mac host, then should use the VM's IP:  `10.211.55.3:5435` or `$(docker-machine ip mname):5435`

Ref: https://github.com/Parallels/docker-machine-parallels/issues/89#issuecomment-623611523

[2021-06-29 14:05] santarinto commented on #103
Yes, i connect by ip `10.211.55.3`. after some time, everything worked.

[2021-06-29 14:05] #103 closed

[2021-07-01 09:37] santarinto opened #104 "container network unreacheable"
docker container ip is 10.211.55.3

some time, after up,  i see next:
[code]

and a i do not ping from host to container

[code]

but i can ping from container to host

![image](https://user-images.githubusercontent.com/7934448/124102487-15f91a00-da69-11eb-8611-dd1d0d57aba3.png)

[2021-07-01 09:39] santarinto commented on #104
Should I run some commands on the container or on the host to provide you with more information?

[2021-07-02 12:49] romankulikov commented on #104
Please generate Technical Report in Parallels Desktop and post its id here.

[2021-07-06 07:24] santarinto commented on #104
Technical ID 373236368

[2021-07-06 07:43] santarinto commented on #104
And 373237626
I think that the kernel panic is connected with the fact that I have cisco any connect running

[2021-07-29 17:04] mauricemojito commented on #99
Is there any update on this? Because I'm having the exact same issue

[2021-07-30 12:16] afbjorklund commented on #99
@mauricemojito

Were you able to get _any_ of the ISO running with Parallels, on Mac M1 ?

Some people are working over summer to make an arm64 `minikube.iso`.
We will assume that if it works with QEMU (+UEFI), it will also work here...

The main target is Docker's HyperKit, though. https://github.com/kubernetes/minikube/issues/11219

[2021-07-31 23:07] romankulikov commented on #104
I doubt guest kernel panic may something to do with Cisco Any Connect running on host. But Any Connect may spoil routing: it may add routes to VPN which overwrite routes to virtual machines–check this out. Or drop output of `netstat -nr` here. That kind of problem could be workarounded by setting subnet for Shared network to 172.16.1 in Parallels Desktop configuration.

[2021-08-01 14:57] romankulikov commented on #99
@afbjorklund

Parallels Desktop for Mac with M1 boots operating systems from ISO-images successfully. Ubuntu, Fedora, Debian and others work nicely on arm64.

Can someone explain what could be done from docker-machine-parallels' side in scope of this ticket? Frankly speaking I'm a bid disoriented between all these arm64-related tickets in minikube project :-(

[2021-08-01 15:42] afbjorklund commented on #99
The main ticket (in minikube), is getting an arm64 version of the amd64 ISO.
Unfortunately it has been delayed, in that we don't even have a new amd64...

If docker-machine-parallels works OK with something like Ubuntu, then I guess
there is nothing more to do in the driver - the issue is on the OS and ISO side

[2021-08-01 15:58] afbjorklund commented on #99
You could start with building `amd64` and `arm64` versions of the binary, I suppose ?

https://github.com/Parallels/docker-machine-parallels/releases

`docker-machine-driver-parallels`

docker-machine-driver-parallels: Mach-O 64-bit x86_64 executable

[2021-08-01 16:08] afbjorklund commented on #99
Also, as indicated above, I would interested to know what is required for the arm64 ISO to boot...

Either what is wrong with the "hello world" ISO, or maybe just some pointers to working ones.

[2021-08-03 08:10] afbjorklund commented on #99
There is a CD version (.iso) now, in case it works better than the HD version (.img)

https://github.com/afbjorklund/minimal-buildroot/releases/tag/0.2 (it requires UEFI)

[2021-08-31 10:15] AndreyMashukov commented on #71
Solution is
[code]

[2021-09-18 00:41] wrobelda commented on #100
Here's why: https://github.com/docker/roadmap/issues/7

[2021-11-16 15:44] nomasprime opened #105 "How does docker machine deprecation effect this?"
Subscribed to Parallels specifically for this feature only to find the Docker feature it depends on is deprecated…ohhh Docker 🤦‍♂️

Will this repo be updated accordingly?

[2021-11-16 16:41] legal90 commented on #105
Hi @nomasprime
Docker Machine project is deprecated (https://github.com/docker/machine/issues/4537), but should still be working at least on amd64-based computers (Apple machines with Intel CPU). Thus, this driver is expected to work there too.

I'm maintaining this driver on my spare time. Also, there are some developers from Parallels who try to help people here is this repo as they can. So, thi

[2021-11-17 17:33] nomasprime commented on #105
Understood.

Thanks @legal90.

[2021-11-17 17:33] #105 closed

[2021-11-23 10:09] robrecord commented on #100
@wrobelda could you please summarise? I've read most of the entire thread but can't see where it mentions either VM solution.

[2021-11-23 10:49] wrobelda commented on #100
Stock Docker on macOS has severe performance issues, especially around networking stack.

[2021-11-30 09:22] robrecord commented on #100
Thanks; and Parallels improves upon this, specifically?

[2021-12-01 02:16] jieren0514 opened #106 "how to use vscode attach container with parallels docker like docker-desktop"
how to use vscode attach container with  parallels docker  like docker-desktop

[2021-12-06 17:24] wrobelda commented on #100
Well, Parallels is the most performant hypervisor available for macOS, with little overhead in any performance aspect.

[2021-12-17 11:54] robrecord commented on #100
I'm pleased to hear this since recently investing in it. Thank you

[2022-01-10 12:54] catap opened #107 "Can't use it anymore. Some certificate is expired?"
I've created a brand new machine:
[code]

Any attempt to use it fails like this:
[code]

Attempt to regenerate certificate fails:
[code]

[2022-01-18 07:52] esmirnov commented on #104
@romankulikov Setting shared network to 172.16.1 helped me with the issue. Thanks!

[2022-02-04 02:04] emonkaji opened #108 "E"

[2022-02-04 08:01] #108 closed

[2022-02-16 20:45] fpatz opened #109 "Q: Is there a way to use shared folders when used with minikube?"
After some digging, I've found that this projects serves as the Parallels driver for minikube. I've tried to setup shared host folders for the Parallels VM provisioned by this driver, but I could not find a way to do it. Since the VM generated for docker-machine is basically the same, I'd assume it should be doable in principle -- does minikube just lack a way of passing the necessary information?

[2022-02-20 20:42] legal90 commented on #109
Hi @fpatz,
It's not possible to use "naive" Parallels Shared Folders in the minikube VM because the boot image used by minikube (for insance, `minikube-v1.25.0.iso`) doesn't have Parallels Tools installed. So that, the `prl_fs` filesystem is not availble in the VM.

However, you can still make custom shared folders working by using the default mechanism of minikube - 9P protocol.
More info and exa

[2022-02-21 09:52] fpatz commented on #109
Thanks for the reply! I was asking since the 9P mounts are much slower than ``prl_fs``. Will try my luck with a regular Linux VM on Parallels then ...

[2022-02-21 09:52] #109 closed

[2022-02-21 10:05] legal90 commented on #109
@fpatz Sure! I can recommend trying Vagrant with our provider [`vagrant-parallels`](https://github.com/Parallels/vagrant-parallels) for creating a regular VM fast and easy.

There are base boxes for Vagrant with `parallels` provider support, which already have Parallels Tools installed:
https://app.vagrantup.com/boxes/search?utf8=%E2%9C%93&sort=downloads&provider=parallels&q=bento

[2022-03-11 11:09] yhesse opened #110 "Files not syncing"
The files are not syncing so I can't edit them.

Posted details here:
https://github.com/wodby/docker4drupal/issues/513

[2022-04-29 08:33] KatoshiPL commented on #71
Hi guys I have similar error as @romankulikov. I am trying to use docker-compose(I am new to docker) for my API and postgres database.
Her is how my docker compose file looks:
`version: '3.9'

services:
    web:
        container_name: sourceryapi
        build: .
        ports:
            - "8000:80"
        depends_on:
            database:
                    condition: service_healthy
    dat

[2022-07-28 09:02] afbjorklund commented on #99
You can use this [boot2docker-arm64.iso](https://github.com/afbjorklund/boot2docker-debian/releases/download/a12e50d/boot2docker-arm64.iso) image for testing, if needed (should boot, without disk)

[2022-07-28 10:38] hirakujira commented on #99
@afbjorklund

I run `docker-machine create --driver=parallels --parallels-memory=16384 --parallels-disk-size=65536 --parallels-cpu-count=8 --parallels-boot2docker-url https://github.com/afbjorklund/boot2docker-debian/releases/download/a12e50d/boot2docker-arm64.iso prl-dev` command

and the log shows:

[code]

And then I get stuck in `Waiting for VM to come online...`, the host machine can't ssh in

[2022-07-28 11:17] afbjorklund commented on #99
It is probably just missing the setup, the image is only half-done - it should boot and show a console, not sure about ssh yet

[2022-07-28 11:28] afbjorklund commented on #99
@hirakujira : Note that both docker-machine and boot2docker are dead upstream now

So any continued development would need a new name (moby?), in order to continue

[2022-08-20 08:07] afbjorklund commented on #99
It was supposed to look something like this:

![boot2docker-arm64-qemu](https://user-images.githubusercontent.com/10364051/185735601-d7a8d97f-3a96-4cbd-acfc-09add196f2c1.png)

[2022-10-28 08:28] d33m00n opened #111 "Is project abandoned?"
I can't run docker-machine on Apple M1.

[code]

So here is how VM created looks like:

<img width="632" alt="Screenshot 2022-10-28 at 16 27 50" src="https://user-images.githubusercontent.com/96591680/198541590-49548120-bd3d-4bac-9b64-32310f8dbf80.png">

[2022-10-29 04:13] KarstenB commented on #111
The short summary is probably yes. I ran into the same issue, and it is obvious why it doesn't boot: It's because boot2docker is an AMD64 build, so it won't run on ARM. We would need a new updated version of boot2docker for M1.

[2022-10-30 01:25] d33m00n commented on #111
Funny that Parallels advertises that it works.

[2022-11-26 11:26] lighter opened #112 "Error creating machine: Error in driver during machine creation: Machine didn't return an IP after 120 seconds, aborting"
Mac OS: 13.0.1
Parallels version: 18.1.0 (53311)

When I  tried to create docker, I got this error message.

[code]